<div class="u-bgGray u-posRelative Slideshow js-Slideshow u-pullSides1">
  <h2 class="u-hiddenVisually">Fun facts about Aileen</h2>
  <ul class="u-flex u-listUnstyled Slideshow-slides js-Slideshow-slides u-padEnds2"  id="Slideshow-slides">
    {{#each drizzle.data.fun-facts.contents.aileen}}
      <li class="Grid Grid--withGutter Grid--alignMiddle Slideshow-slide js-Slideshow-slide u-flexExpand u-flexJustifyCenter u-sm-flexJustifyStart u-padSides5 {{#if @first}}is-visible{{/if}}">
        <div class="Grid-cell u-size1of2 u-sm-size1of4 u-lg-size1of5">
          <div class="Thumbnail Thumbnail--circle u-block">
            <img class="u-sizeFull" src="{{image}}" alt="">
          </div>
        </div>
        <div class="Grid-cell u-sizeFull u-sm-size3of4 u-lg-size1of2 u-spaceItems06 u-textCenter u-sm-textLeft u-spaceTop01 u-sm-spaceTopNone">
          <h4 class="u-md-textGrow1">Did you know&hellip;?</h4>
          <p>{{fact}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="u-flex u-flexJustifyBetween u-flexAlignItemsCenter u-lg-flexJustifyEnd u-padSides03 u-lg-padRight3 u-posAbsoluteCenter  u-size1of1" aria-controls="#Slideshow-slides">
    <h3 class="u-hiddenVisually">Fun fact navigation</h3>
    <p class="u-hiddenVisually u-lg-showVisually u-lg-inlineBlock u-textShrink1 u-spaceSides1">
      <span class="u-hiddenVisually">Current Fun Fact:</span>
      <span class="js-Slideshow-current">1</span> of
      {{drizzle.data.fun-facts.contents.aileen.length}}
    </p>
    <button type="button" class="Slideshow-control js-Slideshow-prev u-flexOrderFirst">
      <span class="u-hiddenVisually">Previous Fun Fact</span>
      <svg viewBox="0 0 24 24" class="Icon u-textGrow3" role="presentation">
        <circle r="12" cx="12" cy="12" fill="#fff"/>
        {{svg "icons/arrow-left" width="12" height="12" x="6" y="6"}}
      </svg>
    </button>
    <button type="button" class="Slideshow-control js-Slideshow-next">
      <span class="u-hiddenVisually">Next Fun Fact</span>
      <svg viewBox="0 0 24 24" class="Icon u-textGrow3" role="presentation">
        <circle r="12" cx="12" cy="12" fill="#fff"/>
        {{svg "icons/arrow-right" width="12" height="12" x="6" y="6"}}
      </svg>
    </button>
  </div>
</div>
