<div id="case-study-listings">
  <div class="c-cloud-cover t-dark">
    <div class="o-container o-container--pad-inline">
      <div class="o-container__content c-cloud-cover__inner">
        <div class="c-cloud-cover__content">
          <div class="o-rhythm o-rhythm--condensed">
            <h1 class="c-heading c-heading--level-n2">Our Work</h1>
            <p>
              We’ve built responsive websites, JavaScript applications, hybrid apps, you name it—if it’s mobile, we’ve built it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-wrapper o-container o-container--pad">
    <div class="o-container__content">
      <div class="o-deck o-deck--2-column@l">
        <article class="c-card c-card--with-link c-card--horizontal@m">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a
                href="#"
                class="c-card__link"
              >
                Champion Power Equipment
              </a>
            </h2>
          </header>

          <div class="c-card__cover">
            <img
              src="{{cpe}}"
              alt=""
            />
          </div>

          <div class="c-card__content">
            <p>
              Champion Power Equipment is a market leader in power generation equipment. They chose Cloud Four to design...
            </p>
          </div>
        </article>

        <article class="c-card c-card--with-link">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a
                href="#"
                class="c-card__link"
              >
                Walmart Grocery
              </a>
            </h2>
          </header>

          <div class="c-card__cover">
            <img
              src="{{wm}}"
              alt=""
            />
          </div>

          <div class="c-card__content">
            <p>
              Cloud Four was hired to help Walmart make the transition to responsive web design. We started with the smaller Walmart Grocery site, built a pattern library, and converted...
            </p>
          </div>
        </article>

        <article class="c-card c-card--with-link">
          <header class="c-card__header">
            <h2 class="c-card__heading">
              <a
                href="#"
                class="c-card__link"
              >
                Ceasefire Oregon
              </a>
            </h2>
          </header>

          <div class="c-card__cover">
            <img
              src="{{cf}}"
              alt=""
            />
          </div>

          <div class="c-card__content">
            <p>
              Ceasefire Oregon is a small, non-profit organization working for sensible gun law reform. Their site had a wealth of information, but was difficult to navigate and read. We helped...
            </p>
          </div>
        </article>
      </div>

      <div class="container-wrap">
        <div class="intro">
          <p class="c-heading--level-2">More clients we've worked with</p>
        </div>
        <div class="content">
          {% for logos in logos %}
          <article>
            <header>
              <img src="{{logos.image}}">
            </header>
          </article>
        {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="wrapper book-wrapper">
    <div class="o-container o-container--pad">
      <div class="o-container__content">
        <div class="grid-wrapper">
          <div class="intro">
            <h2 class="c-heading c-heading--level-0">Books we’ve written</h2>
          </div>
          <div class="content">
            <div class="item">
              <img
              src="{{book}}"
              alt=""
              loading="lazy"
              class="book-img"
              />
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">Progressive Web Apps</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
              </div>
            </div>
            <div class="item">
              <img
              src="{{mobile}}"
              alt=""
              loading="lazy"
              class="book-img"
              />
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">Head First Mobile Web</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper">
    <div class="o-container o-container--pad">
      <div class="o-container__content">
        <div class="grid-wrapper">
          <div class="intro">
            <h2 class="c-heading c-heading--level-0">Our open source projects</h2>
            <footer>
            <button class="button-largeScreen c-button c-button--secondary" type="button">Follow Cloud Four on GitHub</button>
            </footer>
          </div>
          <div class="content">
            <div class="item">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": pwa,
                "sizes": "60px"
              } only %}
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">PWA Stats</a>
                </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor incididunt ut...</p>
              </div>
            </div>
            <div class="item">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": responsive,
                "sizes": "60px"
              } only %}
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">Responsive Images</a>
                </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor incididunt ut...</p>
              </div>
            </div>
            <div class="item">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": svg,
                "sizes": "60px"
              } only %}
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">Simple SVG Placeholder</a>
                </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor incididunt ut...</p>
              </div>
            </div>
            <div class="item">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": pwa,
                "sizes": "60px"
              } only %}
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">A Project</a>
                </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor incididunt ut...</p>
              </div>
            </div>
            <div class="item">
              {% include '@cloudfour/components/avatar/avatar.twig' with {
                "src": responsive,
                "sizes": "60px"
              } only %}
              <div class="item-content">
                <h3 class="">
                  <a href="#" class="c-card__link">Another Project</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor incididunt ut...</p>
              </div>
            </div>
            <footer>
              <button class="button-smallScreen c-button c-button--secondary" type="button">Follow Cloud Four on GitHub</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
  "menu": {
    "items": [
      {
        "link": "/does",
        "title": "What We Do",
        "current": true
      },
      {
        "link": "/believes",
        "title": "Our Approach"
      },
      {
        "link": "/made",
        "title": "Our Work"
      },
      {
        "link": "/thinks",
        "title": "Articles"
      },
      {
        "link": "/presents",
        "title": "Speaking"
      },
      {
        "link": "/contributes",
        "title": "Labs"
      },
      {
        "link": "/is",
        "title": "Team"
      },
      {
        "link": "/portland-device-lab",
        "title": "Device Lab"
      },
      {
        "link": "https://cloudfour-patterns.netlify.app/",
        "title": "Patterns"
      },
      {
        "link": "https://www.responsivefieldday.com/",
        "title": "Responsive Field Day"
      }
    ]
  },
  "social": {
    "items": [
      {
        "link": "https://twitter.com/cloudfour",
        "title": "Follow us on Twitter",
        "icon": "brands/twitter"
      },
      {
        "link": "https://github.com/cloudfour",
        "title": "Find us on GitHub",
        "icon": "brands/github"
      },
      {
        "link": "https://www.instagram.com/cloudfourpdx/",
        "title": "Follow us on Instagram",
        "icon": "brands/instagram"
      },
      {
        "link": "https://www.linkedin.com/company/cloud-four",
        "title": "Follow us on LinkedIn",
        "icon": "brands/linkedin"
      }
    ]
  },
  "action": {
    "lead_in": "Let’s discuss your project!",
    "title": "Email us",
    "link": "mailto:info@cloudfour.com",
    "icon": "envelope"
  },
  "organization": {
    "name": "Cloud Four, Inc.",
    "address": {
      "street_address": "510 SW 3rd Ave, Suite 420",
      "address_locality": "Portland",
      "address_region": "Oregon",
      "postal_code": "97204",
      "address_country": "USA"
    },
    "email": "info@cloudfour.com",
    "telephone": "+1 (503) 290-1090",
    "url": "https://cloudfour.com/",
    "founding_date": "2007-12-13"
  }
  } only %}
</div>
