<div id="case-study-listings">
  <div class="c-cloud-cover t-dark">
    <div class="o-container o-container--pad-inline">
      <div class="o-container__content c-cloud-cover__inner">
        <div class="c-cloud-cover__content">
          <div class="o-rhythm o-rhythm--condensed">
            <h1 class="c-heading c-heading--level-n2">Our Work</h1>
            <p>
              We’ve built responsive websites, JavaScript applications, hybrid apps, you name it—if it’s mobile, we’ve built it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="o-container o-container--pad">
  <div class="o-container__content">
    <div class="title">
      <h1>Client Work</h1>
    </div>

    <div class="o-deck o-deck--2-column@l">
      <article class="c-card c-card--with-link c-card--horizontal@m">
        <header class="c-card__header">
          <img
            class="logo-image"
            src="{{cpeL}}"
            alt=""
          />
          <h2 class="c-card__heading">
            <a
              href="#"
              class="c-card__link"
            >
              Powering your life.
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{cpe}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Champion Power Equipment is a market leader in power generation equipment. They chose Cloud Four to design...
          </p>
        </div>

        <footer class="c-card__footer">
          <span class="client-tag">Client work</span>
        </footer>
      </article>

      <article class="c-card c-card--with-link">
        <header class="c-card__header">
          <img
            class="logo-image"
            src="{{wmL}}"
            alt=""
          />
          <h2 class="c-card__heading">
            <a
              href="#"
              class="c-card__link"
            >
              Some slogan
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{wm}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Cloud Four was hired to help Walmart make the transition to responsive web design. We started with the smaller Walmart Grocery site, built a pattern library, and converted...
          </p>
        </div>

        <footer class="c-card__footer">
          <span class="client-tag">Client work</span>
        </footer>
      </article>

      <article class="c-card c-card--with-link">
        <header class="c-card__header">
          <img
            class="logo-image cf-logo"
            src="{{cfL}}"
            alt=""
          />
          <h2 class="c-card__heading">
            <a
              href="#"
            >
              Another slogan
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="{{cf}}"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            Ceasefire Oregon is a small, non-profit organization working for sensible gun law reform. Their site had a wealth of information, but was difficult to navigate and read. We helped...
          </p>
        </div>

        <footer class="c-card__footer">
          <span class="client-tag">Client work</span>
        </footer>
      </article>
    </div>



    <div class="title2">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="25" viewBox="0 0 21 25">
        <path d="M3.32172,19.38477H19.64559a.6225.6225,0,0,0,.14493-.01821l.01049.00063a.63178.63178,0,0,0,.63157-.63151V.88552A.63189.63189,0,0,0,19.801.254H3.32261A3.05186,3.05186,0,0,0,.27419,3.30222a.64364.64364,0,0,0,.00663.06568C.27863,4.92034.25938,19.18526.27863,21.06055c-.0012.03667-.00569.07247-.00569.10951a3.05036,3.05036,0,0,0,2.85689,3.03887.62671.62671,0,0,0,.09636.00955H19.801a.63185.63185,0,0,0,.63162-.63157v-2.3773a.6316.6316,0,0,0-1.26319,0V22.9554H3.32172A1.786,1.786,0,0,1,1.54,21.24321c.00094-.017.004-.033.0037-.05025-.00063-.02775-.00156-.0709-.00219-.12829A1.78649,1.78649,0,0,1,3.32172,19.38477ZM3.75237,3.30222a.63157.63157,0,1,1,1.26313,0V16.131a.63157.63157,0,0,1-1.26313,0Z" fill="#215cca"/>
      </svg>
    <h1>Books</h1>
    </div>
    <div class="card-container o-deck o-deck--2-column@l">
      <article class="c-card c-card--with-link c-card--horizontal@m">
        <header class="c-card__header">
          <h2 class="c-card__heading">
            <a
              href="https://cloudfour.com/thinks/building-flexible-components-with-transparency/"
              class="c-card__link"
            >
              Building Flexible Components With Transparency
            </a>
          </h2>
        </header>

        <div class="c-card__cover">
          <img
            src="https://cloudfour.com/wp-content/uploads/2020/11/transparent-flexible.png"
            alt=""
          />
        </div>

        <div class="c-card__content">
          <p>
            By adding a touch of transparency, we can design components that
            automatically adapt to their backgrounds.
          </p>
        </div>

        <footer class="c-card__footer">
          <span class="book-tag">Books</span>
        </footer>
      </article>
    </div>
  </div>
</div>


</div>
