<div id="speaking-listing">
  {% embed '@cloudfour/components/cloud-cover/cloud-cover.twig' only %}
    {% block content %}
      {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
        class: 'o-rhythm--condensed'
      } only %}
        {% block content %}
          {% include '@cloudfour/components/heading/heading.twig' with {
            level: -2,
            content: 'Speaking'
          } only %}
          <p>
            Saying what we mean, meaning what we say
          </p>
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}
  <div class="o-container o-container--pad">
    <div class="o-container__content">
      {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
        class: 'o-rhythm--generous'
      } %}
        {% block content %}
          {% include '@cloudfour/components/heading/heading.twig' with {
            level: -1,
            tag_name: 'h2',
            content: 'Future Events',
          } only %}
          {% embed '@cloudfour/objects/deck/deck.twig' with {
            class: 'o-deck--3-column@l'
          } %}
            {% block content %}
              {% for item in future %}
                <a href="#" class="media-link">
                {% embed '@cloudfour/objects/media/media.twig' with { reverse_markup: true } %}
                  {% block object %}
                    {% include '@cloudfour/components/calendar-date/calendar-date.twig' with {
                      datetime: item.date,
                      note: item.note
                    } only %}
                  {% endblock %}
                  {% block content %}
                    <h3>{{item.event}}</h3>
                    <p>{{item.location}}</p>
                    <p>Speaker: {{item.speaker}}</p>
                  {% endblock %}
                {% endembed %}
                </a>
              {% endfor %}
            {% endblock %}
          {% endembed %}
          {% include '@cloudfour/components/heading/heading.twig' with {
            level: -1,
            tag_name: 'h2',
            content: 'Our Talks',
          } only %}
          {% embed '@cloudfour/objects/deck/deck.twig' with {
            class: 'o-deck--3-column@l'
          } %}
            {% block content %}
              {% for item in speaking %}
                {% embed '@cloudfour/components/card/card.twig' with {
                  class: _card_class,
                  href: item.link
                } %}
                  {% block heading %}
                    {{item.title}}
                  {% endblock %}
                  {% block cover %}
                    <img src="{{item.thumbnail}}" alt="">
                  {% endblock %}
                  {% block content %}
                    <p>
                      {{item.description}} {% if item.more %}<span class="more-text">{{item.more}}</span>{% endif %}
                    </p>
                  {% endblock %}
                  {% block footer %}
                    <div class="c-author o-media">
                      <div class="o-media__object">
                        {% include '@cloudfour/components/avatar/avatar.twig' with { src: item.avatar } only %}
                      </div>
                      <div class="o-media__content">
                        <p<a href="#">{{item.author}}</a></p>
                      </div>
                    </div>
                  {% endblock %}
                {% endembed %}
              {% endfor %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    </div>
  </div>
  {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
    "menu": {
      "items": [
        {
          "link": "/does",
          "title": "What We Do",
          "current": true
        },
        {
          "link": "/believes",
          "title": "Our Approach"
        },
        {
          "link": "/made",
          "title": "Our Work"
        },
        {
          "link": "/thinks",
          "title": "Articles"
        },
        {
          "link": "/presents",
          "title": "Speaking"
        },
        {
          "link": "/contributes",
          "title": "Labs"
        },
        {
          "link": "/is",
          "title": "Team"
        },
        {
          "link": "/portland-device-lab",
          "title": "Device Lab"
        },
        {
          "link": "https://cloudfour-patterns.netlify.app/",
          "title": "Patterns"
        },
        {
          "link": "https://www.responsivefieldday.com/",
          "title": "Responsive Field Day"
        }
      ]
    },
    "social": {
      "items": [
        {
          "link": "https://twitter.com/cloudfour",
          "title": "Follow us on Twitter",
          "icon": "brands/twitter"
        },
        {
          "link": "https://github.com/cloudfour",
          "title": "Find us on GitHub",
          "icon": "brands/github"
        },
        {
          "link": "https://www.instagram.com/cloudfourpdx/",
          "title": "Follow us on Instagram",
          "icon": "brands/instagram"
        },
        {
          "link": "https://www.linkedin.com/company/cloud-four",
          "title": "Follow us on LinkedIn",
          "icon": "brands/linkedin"
        }
      ]
    },
    "action": {
      "lead_in": "Let’s discuss your project!",
      "title": "Email us",
      "link": "mailto:info@cloudfour.com",
      "icon": "envelope"
    },
    "organization": {
      "name": "Cloud Four, Inc.",
      "address": {
        "street_address": "510 SW 3rd Ave, Suite 420",
        "address_locality": "Portland",
        "address_region": "Oregon",
        "postal_code": "97204",
        "address_country": "USA"
      },
      "email": "info@cloudfour.com",
      "telephone": "+1 (503) 290-1090",
      "url": "https://cloudfour.com/",
      "founding_date": "2007-12-13"
    }
  } only %}
</div>
