{{#extend "default"}}
  {{#content "wrapper"}}
    {{!-- Global header --}}
    {{!-- TODO: There must be a simpler way to do this if/else --}}
    {{#if section}}
      {{{embed "toolkit.global-header" clouds=false}}}
    {{else}}
      {{{embed "toolkit.global-header" clouds=true}}}
    {{/if}}

    <main role="main" id="main">
      {{!-- Section header --}}
      {{#if section}}
        {{{embed "toolkit.page-section-header" section}}}
      {{/if}}
      {{!-- Main page content --}}
      <div class="u-bgWhite">
        <div class="
         u-paddingMd
         u-spaceChildren
         {{defaultTo containerClass "u-containSpread"}}">
          {{#block "body"}}
            {{!-- PAGE CONTENT GOES HERE --}}
          {{/block}}
        </div>
        {{!-- After-page content --}}
        <div class="u-containSpread">
          <hr class="u-marginMd u-marginBottomNone">
          {{{embed "toolkit.page-segue"}}}
        </div>
      </div>
    </main>

    {{!-- Global footer --}}
    {{{embed "toolkit.global-footer"}}}
  {{/content}}
{{/extend}}
