<div id="prototype-articles-example">
  <div class="articles">
    {% for article in feed.items %}
      <article class="card">
        <div class="card__content">
          <header>
            <h2>
              <a href="{{article.url}}">
                {{article.title}}
              </a>
            </h2>
          </header>
          <p>
            {{article.summary}}
          </p>
          <div class="details">
            <img class="avatar" src="{{article.author.avatar}}" alt="">
            <div>
              <p class="details__content"><a href="{{article.author.url}}">{{article.author.name}}</a></p>
              <p class="details__content">{{article.date_published|replace({'Z': ''})|date('F j, Y')}}</p>
            </div>
          </div>
        </div>
        {% if article.image %}
          <div class="card__image">
            {% embed '../../../objects/embed/embed.twig' with {
                class: 'o-embed--wide'
              } %}
              {% block content %}
                <img src="{{article.image}}" alt="">
              {% endblock %}
            {% endembed %}
          </div>

        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
