<div id="prototype-articles-danielle">
  {% embed '../../../objects/container/container.twig' %}
    {% block content %}
      <div class="articles">
        {% for article in feed.items %}
          <article class="card">
          {% if article.image %}
              <div class="card__image">
                {% embed '../../../objects/embed/embed.twig' with {
                    class: 'o-embed--wide'
                  } %}
                  {% block content %}
                    <img src="{{article.image}}" alt="">
                  {% endblock %}
                {% endembed %}
              </div>
            {% endif %}
            <div class="card__content">
              <header class="card__header">
                <h2>
                  <a class="card__link" href="{{article.url}}">
                    {{article.title}}
                  </a>
                </h2>
              </header>
              <p>
                {{article.summary}}
              </p>
              <p class="author">{{article.author.name}}</p>
            </div>
          </article>
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
</div>
