{% set type = type|default('text') %}

{% set attributes %}
  class="c-input{% if class %} {{class}}{% endif %}"
  {% for attribute_name in [
    'id',
    'name',
    'placeholder',
    'pattern',
    'autocomplete',
    'minlength',
    'maxlength',
    'size',
    'min',
    'max',
    'rows',
    'step'] %}
    {% set attribute_value = attribute(_context, attribute_name) %}
    {% if attribute_value %}{{attribute_name}}="{{attribute_value}}"{% endif %}
  {% endfor %}
  {% for attribute_name in [
    'autofocus',
    'required',
    'disabled',
    'readonly'] %}
    {% set attribute_value = attribute(_context, attribute_name) %}
    {% if attribute_value %}{{attribute_name}}{% endif %}
  {% endfor %}
{% endset %}

{% if label %}
<label{% if label_class %} class="{{ label_class }}"{% endif %}>
  <div class="c-input__label">{{ label }}</div>
{% endif %}
  {% if type == 'textarea' %}
    <textarea {{attributes}}>{{value}}</textarea>
  {% else %}
    <input type="{{type}}" {% if value %}value="{{value}}" {% endif %}{{attributes}}>
  {% endif %}
{% if label %}
</label>
{% endif %}
