---
previewClass: u-spaceItems1 u-md-padLeft4
notes: |
  Heading with a shortcut for a permalink. Useful for providing linkability to
  specific sections of blog posts.
links:
  "Marcy Sutton's Accessible Permalink Shortcut": http://codepen.io/marcysutton/pen/rLKvgZ
---

{{#iterate 6}}
<div class="HashHeading">
  <h{{@count}} id="HashHeading-demo-{{@count}}">
    This Is a Subhead {{@count}}
  </h{{@count}}>
  <a href="#HashHeading-demo-{{@count}}"
    label="Permalink for This Is a Subhead {{@count}}"
    class="HashHeading-link">
    {{svg "icons/link" class="Icon" aria-hidden="true"}}
  </a>
</div>
{{/iterate}}
