---
name: Heading Modifiers
previewClass: u-staggerItems1 u-md-padLeft4
notes: |
  You may optionally include heading modifiers (`HashHeading--h1` through
  `HashHeading--h6`) in cases where you'd like to retain proportional
  `font-size` of the container (for example, when using a `u-staggerItems*`
  utility).
---

{{#iterate 3}}
<div class="HashHeading HashHeading--h{{@count}}">
  <h{{@count}} id="HashHeading-demo-{{@count}}">
    This Is a Subhead {{@count}}
  </h{{@count}}>
  <a href="#HashHeading-demo-{{@count}}"
    label="Permalink for This Is a Subhead {{@count}}"
    class="HashHeading-link">
    {{svg "icons/link" class="Icon" aria-hidden="true"}}
  </a>
</div>
<p>
  {{random "paragraph" sentences=2}}
</p>
{{/iterate}}
