{% set tag_name = tag_name|default(href ? 'a' : 'button') %}
{# Check for 'content_start' and 'content_end' #}
{% set _content_start = block('content_start') %}
{% set _content_end = block('content_end') %}

{# Set a default icon if aria-pressed is set and no icon (or block content) was supplied #}
{% if
  (aria_pressed == 'true' or aria_pressed == 'false') and
  content_start_icon is empty and
  content_end_icon is empty and
  _content_start|trim is empty and
  _content_end|trim is empty
%}
  {% set content_start_icon = 'notifications' %}
{% endif %}

<{{ tag_name }}
  class="c-button{% if class %} {{ class }}{% endif %}"
  {% if aria_expanded %}
    aria-expanded="{{ aria_expanded }}"
  {% endif %}
  {% if aria_pressed %}
    aria-pressed="{{ aria_pressed }}"
  {% endif %}
  {% if tag_name == 'a' %}
    href="{{ href|default('#') }}"
  {% elseif tag_name == 'button' %}
    type="{{ type|default('button') }}"
    {% if disabled %}
      disabled
    {% endif %}
  {% endif %}
>
  <span class="c-button__effect">
    {% block content_start %}
      {% if content_start_icon %}
        {% include '@cloudfour/components/icon/icon.twig' with {
          name: content_start_icon,
          inline: true
        } only %}
      {% endif %}
    {% endblock %}
  </span>
  {% block content %}
    {{ label|default('Hello world') }}
  {% endblock %}
  <span class="c-button__effect">
    {% block content_end %}
      {% if content_end_icon %}
        {% include '@cloudfour/components/icon/icon.twig' with {
          name: content_end_icon,
          inline: true
        } only %}
      {% endif %}
    {% endblock %}
  </span>
</{{ tag_name }}>
