<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{#block "stylesheets"}}
      <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
    {{/block}}
    <script src="{{baseurl}}/assets/toolkit/scripts/modernizr.js"></script>
  </head>
  {{#block "wrapper"}}
    <body>
      {{#block "body"}}

      {{/block}}
    </body>
  {{/block}}
  {{#block "scripts"}}
    <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  {{/block}}
</html>
