<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
      <title>{{title}} - Drizzle</title>
    {{else if name}}
      <title>{{name}} - Drizzle</title>
    {{else}}
      <title>Drizzle</title>
    {{/if}}
    {{#block "stylesheets"}}
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Source+Code+Pro">
      <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
      {{#each stylesheets}}
        <link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/{{this}}.css">
      {{/each}}
    {{/block}}
    {{#block "icons"}}
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/manifest.json">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#456BD9">
      <meta name="theme-color" content="#456BD9">
    {{/block}}
  </head>
  <body class="{{bodyclass}}">
    {{#if (content "wrapper")}}
      {{#block "wrapper"}}

      {{/block}}
    {{else}}
      {{#block "body"}}

      {{/block}}
    {{/if}}
    {{#block "scripts"}}
      <!-- Polyfill service, see: https://cdn.polyfill.io/v2/docs/ -->
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Object.assign,Array.prototype.find,Array.from,Element.prototype.classList"></script>
      <script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
      {{#each scripts}}
        <script src="{{baseurl}}/assets/toolkit/scripts/{{this}}.js"></script>
      {{/each}}
    {{/block}}
  </body>
</html>
