---
hidden: true
---
<div class="FloatLabel js-FloatLabel {{floatlabelclass}}">
  {{#block "content"}}
    <label class="FloatLabel-label" for="{{inputid}}">{{label}}</label>
    {{#compare type "===" "textarea"}}
      <textarea class="Input {{inputclass}}" id="{{inputid}}" {{#if inputname}}name="{{inputname}}"{{/if}} {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}>{{value}}</textarea>
    {{else}}
      <input class="Input {{inputclass}}" id="{{inputid}}" {{#if inputname}}name="{{inputname}}"{{/if}} {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}} type="{{defaultTo type "text"}}" value="{{value}}">
    {{/compare}}
  {{/block}}
</div>
