---
hidden: true
---
<div class="FloatLabel js-FloatLabel">
  {{#block "content"}}
    <label class="FloatLabel-label" for="{{inputid}}">{{label}}</label>
    {{#compare type "===" "textarea"}}
      <textarea class="Input" id="{{inputid}}">{{value}}</textarea>
    {{else}}
      <input class="Input" id="{{inputid}}" type="{{defaultTo type "text"}}" value="{{value}}">
    {{/compare}}
  {{/block}}
</div>
