{% set _heading_tag = heading_tag|default('h2') %}

<div
  class="c-subscription-choices js-subscription-choices{% if class %} {{ class }}{% endif %}"
  {% if form_bg_color %}
    style="--form-bg-color: {{form_bg_color}};"
  {% endif %}
>

  <div class="c-subscription-choices__controls">
   <{{_heading_tag}}>
    {{never_miss_article_heading|default('Never miss an article!')}}
   </{{_heading_tag}}>
    {% include '@cloudfour/components/button-swap/button-swap.twig' with {
      button_class: "c-subscription-choices__control
js-subscription-choices__control
#{notifications_btn_class|default('')}",
      initial_label: notifications_btn_initial_label|default('Notifications have been turned off.'),
      initial_visual_label: notifications_btn_initial_visual_label|default('Get notifications'),
      swapped_label: notifications_btn_swapped_label|default('Notifications have been turned on.'),
      swapped_visual_label: notifications_btn_swapped_visual_label|default('Turn off notifications'),
    } only %}

    {% include '@cloudfour/components/button/button.twig' with {
      href: "#subscription-choices-#{ form_id }",
      class: "c-subscription-choices__control
js-subscription-choices__control
js-subscription-choices__get-weekly-digests-btn
#{get_weekly_digests_btn_class|default('')}",
      label: button_label|default('Get Weekly Digests'),
      content_start_icon: button_icon|default('envelope')
    } only %}
  </div>


  <form
    id="subscription-choices-{{form_id}}"
    class="c-subscription-choices__form"
    aria-labelledby="get-weekly-digests-{{form_id}}"
  >
    <{{_heading_tag}} id="get-weekly-digests-{{form_id}}">
      {{weekly_digests_heading|default('Get Weekly Digests')}}
    </{{_heading_tag}}>
    <label for="subscription-email-{{form_id}}">Email</label>
    <input id="subscription-email-{{form_id}}" type="text" />
    <button>Submit</button>
  </form>

</div>
