<div
  class="c-subscription-choices js-subscription-choices{% if class %} {{ class }}{% endif %}"
  {% if form_bg_color %}
    style="--form-bg-color: {{form_bg_color}};"
  {% endif %}
>

  <div class="c-subscription-choices__controls">
    {% include '@cloudfour/components/button-swap/button-swap.twig' with {
      button_class: '
        c-subscription-choices__control
        js-subscription-choices__control
      ',
      initial_label: 'Notifications have been turned off.',
      initial_visual_label: 'Get notifications',
      swapped_label: 'Notifications have been turned on.',
      swapped_visual_label: 'Turn off notifications'
    } only %}

    {% include '@cloudfour/components/button/button.twig' with {
      href: "#subscription-choices-#{ form_id }",
      class: '
        c-subscription-choices__control
        js-subscription-choices__control
        js-subscription-choices__get-weekly-digests-btn
      ',
      label: button_label|default('Get Weekly Digests'),
      content_start_icon: button_icon|default('envelope')
    } only %}
  </div>


  <form
    id="subscription-choices-{{ form_id }}"
    name="subscription-choices-{{ form_id }}-form"
    class="c-subscription-choices__form"
  >
    <label for="subscription-email-{{form_id}}">Email</label>
    <input id="subscription-email-{{form_id}}" type="text" />
    <button>Submit</button>
  </form>

</div>
