<div id="prototype-ds04-articles-example">

  <div class="hero t-dark">
    <h1 class="hero__title">Articles</h1>
    <p class="hero__subtitle">
      Tales from the edge of the web
    </p>
  </div>

  <div class="articles">
    {% for article in feed.items %}
      <article class="articles__item">
        
        {% if article.image %}
          {% embed '../../../objects/embed/embed.twig' with {
              class: 'articles__img o-embed--wide'
            } %}
            {% block content %}
              <img src="{{article.image}}" alt="">
            {% endblock %}
          {% endembed %}
          {% else %}
            {% embed '../../../objects/embed/embed.twig' with {
              class: 'articles__img o-embed--wide'
            } %}
            {% block content %}
              <img src="https://29comwzoq712ml5vj5gf479x-wpengine.netdna-ssl.com/wp-content/uploads/2019/10/circles-r2.png" alt="">
            {% endblock %}
          {% endembed %}
        {% endif %}

        <div class="articles__info">
          <header class="articles__header">
            <h2>
              <a class="articles_headerLink" href="{{article.url}}">
                {{article.title}}
              </a>
            </h2>
          </header>
          
          <p class="articles__description">
            {{article.summary}}
          </p>
          <footer class="articles__author">
            
            {% embed '../../../objects/embed/embed.twig' with {class:
            "articles__authorImg"} %}
              {% block content %}
                <a href="{{article.author.url}}">
                  <img class="" src="{{article.author.avatar}}" alt="">
                </a>
              {% endblock %}
            {% endembed %}

            <div>
              <p>
                <a href="{{article.author.url}}">
                  {{article.author.name}}
                </a>
              </p>

              <p class="articles__date">
                {{article.date_published|replace({'Z': ''})|date('F j, Y')}}
              </p>
            </div>
          </footer>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
