<div id="prototype-ds02-articles-example">

  <section class="articles">
    {% for article in feed.items|slice(0, 9) %}
      <article class="articles__item{% if loop.first %} u-full-width-sm{% endif %}">
        
        {% if article.image %}
          {% embed '../../../objects/embed/embed.twig' with {
              class: 'articles__img o-embed--wide'
            } %}
            {% block content %}
              <img src="{{article.image}}" alt="">
            {% endblock %}
          {% endembed %}
          {% else %}
            {% embed '../../../objects/embed/embed.twig' with {
              class: 'articles__img o-embed--wide'
            } %}
            {% block content %}
              <img src="https://29comwzoq712ml5vj5gf479x-wpengine.netdna-ssl.com/wp-content/uploads/2019/10/circles-r2.png" alt="">
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if loop.first %}
        <div class="articles__info">
        {% endif %}
          <header class="articles__header">
            <p>
              <a class="articles__author" href="{{article.author.url}}">
                {{article.author.name}}
              </a>
            </p>
            <h3>
              <a class="articles__headerLink" href="{{article.url}}">
                {{article.title}}
              </a>
            </h3>
          </header>
          
          <p class="articles__description">
            {{article.summary}}
          </p>

        {% if loop.first %}
        </div>
        {% endif %}
      </article>
    {% endfor %}
  </section>

  <section class="essentialArticles">
    <header>
      <h2>Essentials</h2>
      <p>
        A collection of frequently-cited posts.
      </p>
      <p>
        You may also browse some of our most popular post categories, such as <a
        href="#">responsive images</a>, <a href="#">performance</a>, <a
        href="#">design</a>, <a href="#">development</a> and <a href="#">CSS</a>.
      </p>
    </header>
    <div class="essentialArticles__container">
      {% for article in feed.items|slice(0, 9) %}
      <a href="#" class="essentialArticles__item">
        {# < class=""> #}
          <div>
            <p>
              <div class="articles__author" href="{{article.author.url}}">
                {{article.author.name}}
              </div>
            </p>
            <h3>
              <div class="articles__headerLink" href="{{article.url}}">
                {{article.title}}
              </div>
            </h3>
          </div>
          <p class="articles__description">
            {{article.summary}}
          </p>
        {# </a> #}
      </a>
      {% endfor %}
    </div>
  </section>

  {# <section class="articles__navigation">
    <h2>Explore Topics</h2>
    <div class="o-container--prose">
      <div class="o-container__content">
        <ul class="articles__navigationList">
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>11</div>
              <div>Responsive Images</div>
            </a>
          </li>
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>7</div>
              <div>Performance</div>
            </a>
          </li>
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>13</div>
              <div>Design</div>
            </a>
          </li>
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>23</div>
              <div>Development</div>
            </a>
          </li>
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>97</div>
              <div>SVGs</div>
            </a>
          </li>
          <li class="articles__navigationListItem">
            <a class="articles__navigationListLink" href="#">
              <div>34</div>
              <div>CSS</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section> #}

</div>
