---
title: Blog - Selected Author
layout: toolkit.default
labels:
  - latest
notes: |
  Blog index of posts by a particular author.
authors:
  - label: "Jason Grigsby"
    count: 53
  - label: "Tyler Sticka"
    count: 42
  - label: "Aileen Jeffries"
    count: 6
  - label: "Megan Notarte"
    count: 24
  - label: "Lyza Danger Gardner"
    count: 23
  - label: "Erik Jung"
    count: 7
  - label: "Nicole Mors"
    count: 3
---

<div class="Grid Grid--withGutter u-padTop01">
  <div class="Grid-cell u-md-size2of3 u-spaceEnds01">
    <h1 class="u-textGrow3 u-spaceBottom1">Articles by Jason Grigsby</h1>
    <div class="Grid Grid--withGutter">
      {{#each drizzle.data.posts.contents.recent}}{{#unless @first}}
        <article class="Grid-cell u-lg-size1of2 u-spaceBottom6">
          <div class="u-spaceItems01 u-md-padRight u-lg-padRight2">
            <header>
              <h2 class="u-md-textGrow1">
                <a class="u-linkEnter" href="#">{{title}}</a>
              </h2>
            </header>
            <p>
              {{~excerpt~}}
              <a class="u-textNoWrap u-linkClean u-inlineBlock u-textShrink1" href="#">
                More
                {{svg "icons/arrow-right" class="Icon" role="presentation"}}
              </a>
            </p>
            <footer class="u-flex u-flexAlignItemsCenter" role="contentinfo">
              <div class="u-spaceRight01">
                <div class="Thumbnail Thumbnail--circle u-block">
                  <img src="{{avatar}}" alt="" style="width: 2.5em;">
                </div>
              </div>
              <div classy="u-flex u-flexWrap u-flexAlignItemsBaseline">
                <p class="u-spaceRight01 u-textNoWrap u-textSemibold">
                  {{author}}
                </p>
                <p class="u-spaceRight01 u-textNoWrap u-textShrink1">
                  <time datetime="{{timestamp date format='YYYY-MM-DDTHH:mm'}}">{{timestamp date format="MMM D, YYYY"}}</time>
                </p>
              </div>
            </footer>
          </div>
        </article>
      {{/unless}}{{/each}}
    </div>
    {{{embed "patterns.components.pagination.base"}}}
  </div>
  <div class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4 u-flexExpandLeft u-spaceEnds01">
    <div class="u-spaceTop02">
      <h3>Authors</h3>
      <ul class="u-listUnstyled u-spaceTop1 u-spaceBottom2 u-spaceItems1">
        {{#each authors}}
          <li class="u-md-textShrink1">
            {{#embed "patterns.components.dot-leader.base" tag="a" href="#"
              class="u-linkClean u-textInheritColor" startclass="u-linkTarget"}}
              {{#content "start"}}{{label}}{{/content}}
              {{#content "end"}}
                <span class="u-hiddenVisually">(</span>{{count}}<span class="u-hiddenVisually"> articles)</span>
              {{/content}}
            {{/embed}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="u-spaceTop5 u-spaceItems01">
      <h3>Essentials</h3>
      <p class="u-md-textShrink1">Frequently-cited posts we&rsquo;re particularly proud of.</p>
      <ul class="u-listUnstyled u-spaceTop1 u-spaceBottom2 u-spaceItems1">
        {{#each drizzle.data.posts.contents.essential}}
          <li class="u-md-textShrink1">
            <a class="u-linkClean" href="#">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
