---
previewClass: u-spaceItems1
notes: |
  Customized toggle input styles. Bases appearance on the type of
  `ToggleControl-input` (`checkbox` or `radio`).
links:
  "Styling Tricky Form Elements": https://cloudfour.com/thinks/styling-form-elements/
  "WTF, forms?": http://wtfforms.com/
---

<label class="ToggleControl">
  <input class="ToggleControl-input"
    type="{{defaultTo type 'checkbox'}}"
    {{#if id}}id="{{id}}"{{/if}}
    {{#if name}}name="{{name}}"{{/if}}
    {{#if value}}value="{{value}}"{{/if}}
    {{#if checked}}checked{{/if}}>
  <span class="ToggleControl-indicator" aria-hidden="true"></span>
  {{#block 'content'}}
    This is label text. {{random 'sentence'}}
  {{/block}}
</label>
