<div class="c-author o-media{% if class %} {{ class }}{% endif %}">
  {% embed '@cloudfour/objects/bunch/bunch.twig' with { class: 'o-media__object' } %}
    {% block content %}
      {% for author in authors %}
        {% include '@cloudfour/components/avatar/avatar.twig' with { src: author.avatar } only %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
  <div class="o-media__content">
    <div>
      <span class="u-hidden-visually">Authored by</span>
      {% for author in authors %}
        {% if loop.last and loop.length > 1 %}and {% endif %}
        <a href="{{ author.link }}">{{ author.name }}</a>
        {%- if not loop.last and loop.length > 2 %},{% endif %}
      {% endfor %}
    </div>

    {# The speaker title is rendered when there is one speaker only #}
    {% if  authors|length == 1 %}
      <div>
        {% if date is defined %}
          <span class="u-hidden-visually">Published on</span>
          <time datetime="{{ date|date('Y-m-d') }}">{{ date|date('F jS, Y') }}</time>
        {% else %}
          {% set author = authors|first %}
          <span class="c-author__title">{{author.job_title}}</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
