<div class="o-media">
  {% embed '@cloudfour/objects/bunch/bunch.twig' with { class: "o-media__object" } %}
    {% block content %}
      {% for author in authors %}
        {% include '@cloudfour/components/avatar/avatar.twig' with { src: author.avatarOverride } only %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
  <div class="o-media__content">
    <div>
      {% for author in authors %}
        {% if loop.last and loop.length > 1 %}and {% endif %}
        <a href="{{ author.link() }}">{{ author.firstName }} {{ author.lastName }}</a>
        {%- if not loop.last and loop.length > 2 %},{% endif %}
      {% endfor %}
    </div>
    <div>
      <time datetime="{{ date | date("Y-m-d") }}">{{ date | date("F jS, Y") }}</time>
    </div>
  </div>
</div>
