---
title: Icon Alignment
layout: toolkit.default
section:
  heading: Icon Vertical Alignment
  subheading: Juuuuust slightly off. 
---

<div class="Grid Grid--withGutter u-spaceTop02">
    <p class="u-textGrow1">
      {{{
          embed "patterns.components.icon.base"
          iconid="instagram"
          class="u-spaceLeft06"
          role="presentation"
        }}}
      Do you have an {{{
          embed "patterns.components.icon.base"
          iconid="arrow-down"
          class="u-spaceLeft06"
          role="presentation"
        }}} app or {{{
          embed "patterns.components.icon.base"
          iconid="arrow-left"
          class="u-spaceLeft06"
          role="presentation"
        }}} site that no one {{{
          embed "patterns.components.icon.base"
          iconid="arrow-right"
          class="u-spaceLeft06"
          role="presentation"
        }}}believes can be {{{
          embed "patterns.components.icon.base"
          iconid="arrow-up"
          class="u-spaceLeft06"
          role="presentation"
        }}}made 

{{{
          embed "patterns.components.icon.base"
          iconid="search"
          class="u-spaceLeft06"
          role="presentation"
        }}}

responsive? Perhaps you {{{
          embed "patterns.components.icon.base"
          iconid="cloud-four"
          class="u-spaceLeft06"
          role="presentation"
        }}} want to use the {{{
          embed "patterns.components.icon.base"
          iconid="envelope"
          class="u-spaceLeft06"
          role="presentation"
        }}} latest web {{{
          embed "patterns.components.icon.base"
          iconid="facebook"
          class="u-spaceLeft06"
          role="presentation"
        }}} technology, but no one {{{
          embed "patterns.components.icon.base"
          iconid="github"
          class="u-spaceLeft06"
          role="presentation"
        }}} on your 
{{{
          embed "patterns.components.icon.base"
          iconid="reply"
          class="u-spaceLeft06"
          role="presentation"
        }}} team has experience with&nbsp;it?
    We Can {{{
          embed "patterns.components.icon.base"
          iconid="attachment"
          class="u-spaceLeft06"
          role="presentation"
        }}} Help
    Many companies know they {{{
          embed "patterns.components.icon.base"
          iconid="link"
          class="u-spaceLeft06"
          role="presentation"
        }}} need a responsive web design or progressive web 

{{{
          embed "patterns.components.icon.base"
          iconid="linkedin"
          class="u-spaceLeft06"
          role="presentation"
        }}}
app, but don't {{{
          embed "patterns.components.icon.base"
          iconid="plus"
          class="u-spaceLeft06"
          role="presentation"
        }}} know where to start. Their teams face the  pressure of deadlines {{{
          embed "patterns.components.icon.base"
          iconid="twitter"
          class="u-spaceLeft06"
          role="presentation"
        }}} but need the project done right the first time.
    </p>
  
   
 
</div>
