---
title: Bio Page B
layout: toolkit.default
labels:
  - latest
notes: |
  Individual team member bio and related content.
stylesheets:
 - sandbox/sara-wip
---

<div class="u-spaceItems1 u-cf">
  <div class="u-md-size1of4 u-md-floatRight u-md-padLeft01 u-textCenter">
    <span class="Thumbnail Thumbnail--circle u-size2of3 u-sm-size1of3 u-md-sizeFull">
      <img class="u-block" src="/images/sandbox/portrait-aileen.png" alt=""/>
    </span>
  </div>
  <div class="u-spaceItems1 u-md-size2of3 u-md-floatLeft">
    <div class="u-flex u-flexCol u-flexAlignItemsCenter u-md-flexRow u-md-flexAlignItemsBaseline">
      <h1 class="u-md-spaceRight01"><span class="u-textGrow1">Aileen Jeffries</span></h1>
      <p><i>Founder and President</i></p>
    </div>
    <p>{{random "paragraph" sentences=3}}</p>
    <p>
      <img src="/images/sandbox/photo-aileen-fam.jpg" class="u-size1of3 u-floatLeft u-spaceRight u-spaceBottom04" alt=""/>
      {{random "paragraph" sentences=5}}
    </p>
    <p>{{random "paragraph" sentences=2}}</p>
  </div>
  <div class="u-md-size1of4 u-md-floatRight u-md-padLeft01">
    <ul class="u-listUnstyled">
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="link"
            role="presentation"
          }}}
          Aileen&rsquo;s personal site
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="twitter"
            role="presentation"
          }}}
          Twitter
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="github"
            role="presentation"
          }}}
          GitHub
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="instagram"
            role="presentation"
          }}}
          Instagram
        </a>
      </li>
    </ul>
  </div>
</div>

{{! Fun Facts -navigation sides }}
<div class="u-md-size2of3">
  <aside class="u-bgGray u-padSides5 u-padEnds2 u-lg-padSides1 u-pullSides1 u-spaceTop4 u-posRelative u-flex FunFacts">
    {{#each drizzle.data.fun-facts.contents.aileen}}
      <div class="Grid Grid--withGutter Grid--alignMiddle FunFact u-spaceRight5 {{#if @first}} is-visible{{/if}} u-flexExpand u-flexJustifyCenter u-sm-flexJustifyStart">
        <div class="Grid-cell u-size1of2 u-sm-size1of4 u-lg-size1of5">
          <div class="Thumbnail Thumbnail--circle u-block">
            <img class="u-sizeFull" src="{{image}}" alt="">
          </div>
        </div>
        <div class="Grid-cell u-sm-size3of4 u-lg-size1of2 u-spaceItems06 u-textCenter u-sm-textLeft u-spaceTop01 u-sm-spaceTopNone">
          <h4 class="u-md-textGrow1">Did you know&hellip;?</h4>
          <p>{{fact}}</p>
        </div>
      </div>
    {{/each}}

    <ul class="u-listInline u-spaceSides03 u-flexJustifyBetween  u-flexAlignContentCenter u-lg-flexJustifyEnd u-posAbsoluteMiddle u-lg-spaceRight2">
      <li class="u-spaceLeft05">
        <a class="u-linkClean js-FunFact-prev" href="">
          <svg viewBox="0 0 24 24" class="Icon u-textGrow3">
            <circle r="12" cx="12" cy="12" fill="#fff"/>
            <use xlink:href="{{baseurl}}/images/icons.svg#arrow-left" transform="scale(.5) translate(12,12)"/>
          </svg>
        </a>
      </li>
      <li>
        <span class="u-hidden u-lg-inlineBlock u-textShrink1">
          <span class="js-FunFact-current">1</span> of
          <span class="js-FunFact-total"></span>
        </span>
      </li>
      <li>
        <a class="u-linkClean js-FunFact-next" href="">
          <svg viewBox="0 0 24 24" class="Icon u-textGrow3">
            <circle r="12" cx="12" cy="12" fill="#fff"/>
            <use xlink:href="{{baseurl}}/images/icons.svg#arrow-right" transform="scale(.5) translate(12,12)"/>
          </svg>
        </a>
      </li>
    </ul>
  </aside>
</div>


{{! Latest Articles }}
<div class="Grid Grid--withGutter u-spaceTopNone">
  <div class="Grid-cell u-md-size2of3">
    <h2 class="u-spaceTop4">Latest Articles</h2>
    <div class="Grid Grid--withGutter">
      {{#each drizzle.data.posts.contents.recent}}{{#compare @index "<" 4}}
        <article class="Grid-cell u-md-size1of2 u-md-textShrink1 u-md-padRight1 u-spaceTop1">
          <header class="u-spaceBottom06">
            <h3><a class="u-linkClean" href="#">{{title}}</a></h3>
          </header>
          <p>{{~excerpt~}}</p>
        </article>
      {{/compare}}{{/each}}
    </div>
    <p class="u-spaceTop1">
      <a class="Button" href="#">
        See all
        {{{
          embed "patterns.components.icon.base"
          class="Icon--large u-spaceLeft06"
          iconid="arrow-right"
          role="presentation"
        }}}
      </a>
    </p>
  </div>

  {{! Upcoming Talks }}
  <div class="Grid-cell u-spaceItems1 u-md-size1of4 u-md-flexExpandLeft">
    <h2 class="u-spaceTop4">Upcoming Talks</h2>
    {{#each drizzle.data.events.contents.upcoming}}
      {{#compare @index "<" 3}}
        <article class="u-md-textShrink1">
          <a href="{{url}}" class="u-flex u-flexAlignItemsCenter u-linkClean u-textInheritColor">
            <div class="u-textShrink1">{{#embed "patterns.components.calendar-date.base" event=this}}{{/embed}}</div>
            <div class="u-spaceLeft">
              <h3 class="u-linkTarget">{{name}}</h3>
              <p class="u-textNoWrap">{{location}}</p>
            </div>
          </a>
        </article>
      {{/compare}}
    {{/each}}
  </div>
</div>
