---
title: Stagger Headings B
layout: toolkit.default
---

<div class="u-staggerItems u-staggerHeadings3">
  <h1>Heading</h1>
  {{#iterate 2}}
    <p>{{random "paragraph"}}</p>
  {{/iterate}}
  <div class="HashHeading HashHeading--h2">
    <h2>
      This Is a Subhead 2
    </h2>
    <a href="#HashHeading-demo-2" label="Permalink for This Is a Subhead 2"
     class="HashHeading-link">
      {{svg "icons/link" class="Icon" aria-hidden="true"}}
    </a>
  </div>
  {{#iterate 2}}
    <p>{{random "paragraph"}}</p>
  {{/iterate}}
  <div class="HashHeading HashHeading--h3">
    <h3>
      This Is a Subhead 3
    </h3>
    <a href="#HashHeading-demo-2" label="Permalink for This Is a Subhead 2"
     class="HashHeading-link">
      {{svg "icons/link" class="Icon" aria-hidden="true"}}
    </a>
  </div>
  {{#iterate 2}}
    <p>{{random "paragraph"}}</p>
  {{/iterate}}
  <div class="HashHeading HashHeading--h2">
    <h2>
      This Is a Subhead 2
    </h2>
    <a href="#HashHeading-demo-2" label="Permalink for This Is a Subhead 2"
     class="HashHeading-link">
      {{svg "icons/link" class="Icon" aria-hidden="true"}}
    </a>
  </div>
  {{#iterate 2}}
    <p>{{random "paragraph"}}</p>
  {{/iterate}}
  <div class="HashHeading HashHeading--h3">
    <h3>
      This Is a Subhead 3
    </h3>
    <a href="#HashHeading-demo-2" label="Permalink for This Is a Subhead 2"
     class="HashHeading-link">
      {{svg "icons/link" class="Icon" aria-hidden="true"}}
    </a>
  </div>
  {{#iterate 2}}
    <p>{{random "paragraph"}}</p>
  {{/iterate}}
</div>
