---
title: PWA Stats Permalink
layout: toolkit.blank
notes: |
  PWA Stats post page.
order: -1
stylesheets:
  - sandbox/sil-pwa
---

<div class="Sky Sky--clouds">
  <div class="u-containSpread u-padSides u-spaceBottom4 u-spaceItems2">
    <header class="u-textCenter u-padTop3 u-padBottom1">
      <h1 class="u-textNoWrap u-textGrow4 u-sm-textGrow6">PWA Stats</h1>
      <p class="u-containProse">
        <span class="u-md-inlineBlock">
          A community-driven list of stats and news related to Progressive Web Apps,
        </span>
        <span class="u-md-inlineBlock">
          brought to you by
          <a class="u-textNoWrap" href="https://cloudfour.com/">
            {{svg "icons/cloud-four" class="Icon Icon--larger u-spaceLeft06"}}
            Cloud Four
          </a>
        </span>
      </p>
    </header>
    {{#with drizzle.data.pwa-stats.contents.data.[0]}}
      {{#embed "patterns.components.card.base"
        cardClass="u-borderNone u-containProse u-md-textGrow1"
        icon=logo}}
        {{#content "content"}}
          {{{headline}}}
        {{/content}}
        {{#content "footer"}}
          <h3 class="u-hiddenVisually">
            Tags
          </h3>
          <div class="Grid Grid--withGutter Grid--alignMiddle u-textShrink1">
            <div class="Grid-cell u-sizeFill">
              <ul class="u-listInline">
                {{#each tags}}
                  <li>
                    <a class="Card-metaLink" href="">
                      #{{this}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
            <p class="Grid-cell u-sizeFit">
              <time datetime="2015-03-31">
                March 31, 2015
              </time>
            </p>
          </div>
        {{/content}}
      {{/embed}}
    {{/with}}
  </div>
</div>
<div class="u-bgWhite u-padTop1">
  <div class="u-containSpread u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-spaceRight u-textNoWrap">
        Make PWA Stats even better:
      </span>
      <a class="Button Button--primary u-spaceEnds01 u-textNoWrap" href="https://github.com/cloudfour/pwastats">
        {{svg "icons/github" class="Icon Icon--large u-spaceLeft06"}}
        Contribute
      </a>
    </p>
    <img class="u-posAbsoluteBottomRight u-size2of5 u-sm-size1of3 u-sm-spaceRight1 u-md-size1of4"
      src="/images/portland.svg" alt="">
  </div>
</div>
{{{embed "toolkit.global-footer"}}}
