---
title: PWA Stats Index
layout: toolkit.blank
notes: |
  PWA Stats main page.
order: -1
stylesheets:
  - sandbox/sil-pwa
---


<div class="Sky Sky--clouds">
  <div class="u-containSpread u-padSides u-spaceBottom2 u-spaceItems2">
    <header class="u-textCenter u-padTop3 u-padBottom1">
      <h1 class="u-textNoWrap u-textGrow4 u-sm-textGrow6">PWA Stats</h1>
      <p class="u-containProse">
        <span class="u-md-inlineBlock">
          A community-driven list of stats and news related to Progressive Web Apps,
        </span>
        <span class="u-md-inlineBlock">
          brought to you by
          <a class="u-textNoWrap" href="https://cloudfour.com/">
            {{svg "icons/cloud-four" class="Icon Icon--larger u-spaceLeft06"}}
            Cloud Four
          </a>
        </span>
      </p>
    </header>
    <div class="Masonry">
      {{#each drizzle.data.pwa-stats.contents.data}}
        <article class="Card">
          <a href="{{link}}" class="Card-main">
            <h2 class="Card-summary">
              {{{headline}}}
            </h2>
            <img class="Card-icon" src="{{logo}}" alt="">
          </a>
          <footer class="Card-meta">
            <h3 class="u-hiddenVisually">
              Tags
            </h3>
            <ul class="u-listInline">
              {{#each tags}}
                <li>
                  <a class="Card-metaLink" href="">
                    #{{this}}
                  </a>
                </li>
              {{/each}}
            </ul>
            <p class="u-spaceLeft1">
              <a class="Card-metaLink" href="./pwa-stats-single.html" title="Permalink">
                {{svg "icons/link" class="Icon Icon--large"}}
              </a>
            </p>
          </footer>
        </article>
      {{/each}}
    </div>
    <div class="u-containProse u-sm-size2of3 u-md-size1of2">
      {{{embed "patterns.components.pagination.base" pages=4}}}
    </div>
  </div>
</div>
<div class="u-bgWhite u-padTop1">
  <div class="u-containSpread u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-spaceRight u-textNoWrap">
        Make PWA Stats even better:
      </span>
      <a class="Button Button--primary u-spaceEnds01 u-textNoWrap" href="https://github.com/cloudfour/pwastats">
        {{svg "icons/github" class="Icon Icon--large u-spaceLeft06"}}
        Contribute
      </a>
    </p>
    <img class="u-posAbsoluteBottomRight u-size2of5 u-sm-size1of3 u-sm-spaceRight1 u-md-size1of4"
      src="/images/portland.svg" alt="">
  </div>
</div>
{{{embed "toolkit.global-footer"}}}
