---
title: Home A
layout: toolkit.blank
labels:
  - inprogress
notes: |
  With responsive devices SVG animation.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="Grid Grid--alignMiddle">
        <div class="Grid-cell u-md-size1of2 u-md-flexOrderLast">
          <object data="/images/sandbox/home-animation.svg" type="image/svg+xml" style="width: 100%; height: 20em;">
            {{! TODO: Fallback (GIF, maybe?) }}
          </object>
        </div>
        <div class="Grid-cell u-md-size1of2">
          <div class="u-padSides1 u-padBottom1 u-md-padRightNone u-md-padEnds1 u-md-padBottom4 u-spaceItems1">
            <h1 class="u-textGrow2 u-sm-textGrow3">
              We design and develop responsive web&shy;sites and progressive <span class="u-textNoWrap">web apps.</span>
            </h1>
            <p class="u-sm-textGrow1">
              We scout the frontier of the web to find practical uses for new technology. Together, we can build things right the <span class="u-textNoWrap">first time.</span>
              {{!-- <a href="#">
                Learn more
                {{{
                  embed "patterns.components.icon.base"
                  iconid="arrow-right"
                  class="u-spaceLeft06"
                  role="presentation"
                }}}
              </a> --}}
            </p>
            <p>
              <a href="#" class="Button">
                What we do
                {{{
                  embed "patterns.components.icon.base"
                  iconid="arrow-right"
                  class="u-spaceLeft06"
                  role="presentation"
                }}}
              </a>
            </p>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-containSpread u-pad1">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-md-size1of2 u-spaceEnds2 u-spaceItems1">
          <div class="u-bgGray u-pad2 u-pullSides1 u-md-spaceSidesNone" style="overflow: hidden; max-height: 11.25rem;">
            <img src="/images/case-studies/walmart-475.png" class="u-rotateBack3 u-block u-flexExpandLeft u-flexExpandRight u-size5of6" style="visibility:hidden;">
          </div>
          <h2>Our goals are audacious.</h2>
          <p class="u-spaceTop06 u-md-padRight1">We believe the web should be dependable, fast and inclusive. We believe a small company like ours can have an outsized impact on our customers and the world. We bring this perspective to everything we do.</p>
          <p>
            <a href="#" class="Button Button--default">
              What sets us apart
              {{{
                embed "patterns.components.icon.base"
                iconid="arrow-right"
                class="u-spaceLeft06"
                role="presentation"
              }}}
            </a>
          </p>
        </div>
        <div class="Grid-cell u-md-size1of2 u-spaceEnds2 u-spaceItems1">
          <div class="u-bgGray u-pad2 u-pullSides1 u-md-spaceSidesNone" style="overflow: hidden; max-height: 11.25rem;">
            <img src="/images/case-studies/walmart-475.png" class="u-rotateBack3 u-block u-flexExpandLeft u-flexExpandRight u-size5of6">
          </div>
          <h2>We know the terrain.</h2>
          <p class="u-spaceTop06 u-md-padRight1">Responsive websites, JavaScript applications, hybrid apps, pattern libraries, you name it… if it’s mobile, we’ve built it.</p>
          <p>
            <a href="#" class="Button Button--default">
              Our work
              {{{
                embed "patterns.components.icon.base"
                iconid="arrow-right"
                class="u-spaceLeft06"
                role="presentation"
              }}}
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="u-containSpread">
      <hr class="u-spaceSides1 u-spaceEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
