---
title: Bio Page A
layout: toolkit.default
notes: |
  Individual team member bio and related content.
---

<div class="u-spaceItems1 u-cf">
  <div class="u-md-size1of4 u-md-floatRight u-md-padLeft01 u-textCenter">
    <span class="Thumbnail Thumbnail--circle u-size2of3 u-sm-size1of3 u-md-sizeFull">
      <img class="u-block" src="/images/team/aileen.png" alt=""/>
    </span>
  </div>
  <div class="u-spaceItems1 u-md-size2of3 u-md-floatLeft">
    <div class="u-flex u-flexCol u-flexAlignItemsCenter u-md-flexRow u-md-flexAlignItemsBaseline">
      <h1 class="u-md-spaceRight01"><span class="u-textGrow1">Aileen Jeffries</span></h1>
      <p><i>Founder and President</i></p>
    </div>
    <p>{{random "paragraph" sentences=3}}</p>
    <p>
      <img src="/images/sandbox/photo-aileen-fam.jpg" class="u-size1of3 u-floatLeft u-spaceRight u-spaceBottom04" alt=""/>
      {{random "paragraph" sentences=5}}
    </p>
    <p>{{random "paragraph" sentences=2}}</p>
  </div>
  <div class="u-md-size1of4 u-md-floatRight u-md-padLeft01">
    <ul class="u-listUnstyled">
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="link"
            role="presentation"
          }}}
          Aileen&rsquo;s personal site
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="twitter"
            role="presentation"
          }}}
          Twitter
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="github"
            role="presentation"
          }}}
          GitHub
        </a>
      </li>
      <li>
        <a class="u-linkClean" href="#">
          {{{
            embed "patterns.components.icon.base"
            class="u-spaceRight06"
            iconid="instagram"
            role="presentation"
          }}}
          Instagram
        </a>
      </li>
    </ul>
  </div>
</div>

<aside class="u-bgGray u-pad1 u-pullSides1 u-spaceTop4">
  <div class="Grid Grid--withGutter Grid--alignMiddle">
    <div class="Grid-cell u-size1of3 u-sm-size1of6 u-lg-size1of8">
      <div class="Thumbnail Thumbnail--circle">
        <img class="u-sizeFull" src="/images/sandbox/trivia-aileen-catio.jpg" alt="">
      </div>
    </div>
    <div class="Grid-cell u-size2of3 u-sm-size5of6 u-lg-size7of8 u-spaceItems06">
      <h4 class="u-md-textGrow1">Did you know&hellip;?</h4>
      <p>Aileen excels at catio craftsmanship.</p>
      <ul class="u-listInline">
        <li>
          <a class="u-linkClean" href="#">
            {{{
              embed "patterns.components.icon.base"
              iconid="arrow-left"
            }}}
          </a>
        </li>
        <li>
          <span class="u-textShrink1">1 of 3</span>
        </li>
        <li>
          <a class="u-linkClean" href="#">
            {{{
              embed "patterns.components.icon.base"
              iconid="arrow-right"
            }}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<div class="Grid Grid--withGutter u-spaceTopNone">
  <div class="Grid-cell u-md-size2of3">
    <h2 class="u-spaceTop4">Latest Articles</h2>
    <div class="Grid Grid--withGutter">
      {{#each drizzle.data.posts.contents.recent}}{{#compare @index "<" 4}}
        <article class="Grid-cell u-md-size1of2 u-md-textShrink1 u-md-padRight1 u-spaceTop1">
          <header class="u-spaceBottom06">
            <h3><a class="u-linkClean" href="#">{{title}}</a></h3>
          </header>
          <p>{{~excerpt~}}</p>
        </article>
      {{/compare}}{{/each}}
    </div>
    <p class="u-spaceTop1">
      <a class="Button" href="#">
        See all
        {{{
          embed "patterns.components.icon.base"
          class="Icon--large u-spaceLeft06"
          iconid="arrow-right"
          role="presentation"
        }}}
      </a>
    </p>
  </div>
  <div class="Grid-cell u-spaceItems1 u-md-size1of4 u-md-flexExpandLeft">
    <h2 class="u-spaceTop4">Upcoming Talks</h2>
    {{#each drizzle.data.events.contents.upcoming}}
      {{#compare @index "<" 3}}
        <article class="u-md-textShrink1">
          <a href="{{url}}" class="u-flex u-flexAlignItemsCenter u-linkClean u-textInheritColor">
            <div class="u-textShrink1">{{#embed "patterns.components.calendar-date.base" event=this}}{{/embed}}</div>
            <div class="u-spaceLeft">
              <h3 class="u-linkTarget">{{name}}</h3>
              <p class="u-textNoWrap">{{location}}</p>
            </div>
          </a>
        </article>
      {{/compare}}
    {{/each}}
  </div>
</div>
