---
title: What We Do (Combined)
layout: toolkit.default
section:
  heading: What We Do
  subheading: We love solving tough puzzles through our design and code
notes: |
  Combining content for "What We Do" and "What Sets Us Apart."
---

<div class="Grid Grid--withGutter u-spaceTop02">
  <div class="Grid-cell u-md-size2of3 u-spaceItems1">
    <p class="u-textGrow1">
      Do you have an app or site that no one believes can be made responsive? Perhaps you want to use the latest web technology, but no one on your team has experience with it?
    </p>
    <h1>
      We Can Help
    </h1>
    <p>
      Many companies know they need a responsive web design or progressive web app, but don't know where to start. Their teams face the pressure of deadlines but need the project done right the first time.
    </p>
    <p>
      We work closely with internal teams to find the best design and technical approach. We set them up for success by incorporating education and training into every project.
    </p>

    <h1>
      Why Cloud Four?
    </h1>
    <p>
      We believe the web can provide fast, compelling, and inclusive experiences, and we’ve set out to prove it.
    </p>
    <p>
      We view our role as bigger than the output of our work. We believe a small company like ours can have an outsized impact on the world and our customers.
    </p>
    <p>
      We’re constantly looking for ways we can make the web better. And we use what we learn to help our customers build better web experiences.
    </p>
    <h2>
      We Share What We Learn
    </h2>
    <div class="u-pullSides1 u-sm-spaceLeft1 u-sm-spaceBottom1 u-sm-floatRight u-sm-size1of3">
      <img class="u-sizeFull" src="{{dummyImgSrc 960 540}}" alt="">
    </div>
    <p>
      Recounting lessons learned for clients and the greater web community is a core part of what we do. Nearly every project we do includes some sort of training or education component.
    </p>
    <p>
      We even flip the typical staffing model on its head by having client designers and developers embed with us for a period of time, so we can bring them up to speed on the work that we are doing.
    </p>
    <h2>
      We’re Intensely Collaborative
    </h2>
    <div class="u-pullSides1">
      <img class="u-sizeFull" src="/images/sandbox/photo-stickies.jpg" alt="">
    </div>
    <p>
      After an initial discovery process, many agencies retreat to offices only to emerge weeks later to present “the solution”. These big reveals only work on TV.
    </p>
    <p>
      We take the opposite approach. We share our work and solicit feedback multiple times per day. We sketch, design and code quickly so we can iterate on ideas and find the best ones.
    </p>
    <blockquote class="u-bgGray u-pad1 u-pullSides1">
      <div class="Thumbnail Thumbnail--circle u-floatRight u-spaceLeft">
        <img src="/images/sandbox/michael.gif" width="80"
         height="80" alt="" />
      </div>
      <p>
        It’s not like you gather client requirements, go away and make something, then come back and ask for feedback. It’s constant iteration, constantly involving the client.
      </p>
      <footer>
        <cite>
          Michael Hallihan,
          <a href="#">
            Treasure Coast Hospice
          </a>
        </cite>
      </footer>
    </blockquote>
    <h2>
      We’re All Agile
    </h2>
    <p>
      We’ve ditched the traditional waterfall design process of wireframes and Photoshop mockups. Responsive web design makes that process obsolete—how many wireframes and comps do you need to cover all the screen sizes available?
    </p>
    <p>
      Instead, we believe in responsive design sprints. We break design problems into smaller patterns. We sketch mobile-first versions of those patterns. Then we quickly move into code and design in the browser.
    </p>
    <aside class="u-bgGray u-pad1 u-pullSides1 u-spaceItems02">
      <footer class="Thumbnail Thumbnail--circle u-floatRight u-spaceLeft">
        <img src="/images/team/megan.png" width="80"
         height="80" alt="Megan Notarte" />
      </footer>
      <header class="u-spaceTopNone">
        <h3>
          <a class="u-linkClean" href="#">Client Engagement the Cloud Four Way</a>
        </h3>
      </header>
      <p class="u-md-padRight1">
        One of the things that is really clear to us (and that we hear often from our clients) is that the way we engage with our clients is unique. In fact, bringing clients in early and often to our process is one of our specialties at Cloud Four.
        <a class="u-textNoWrap u-linkClean u-inlineBlock u-textShrink1" href="#">
          More
          {{svg "icons/arrow-right" class="Icon" role="presentation"}}
        </a>
      </p>
    </aside>
    <h2>
      Our Designers Code, Our Developers Design
    </h2>
    <p>
      Our sprint-based process works because we’re full of what our industry considers unicorns. Our designers write code. Our developers went to art school.
    </p>
    <p>
      We didn’t set out to become a unicorn safe haven, but we’re happy it happened. Our team’s unique combination of skills is what enables us to do great work for our clients.
    </p>
  </div>
  <div class="Grid-cell u-md-size1of4 u-flexExpandLeft u-spaceItems1 u-spaceTop4 u-md-spaceTopNone">
    <h3>
      Our Services
    </h3>
    <ul class="u-listUnstyled u-spaceItems1">
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        Responsive Web&nbsp;Design
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        Progressive Web&nbsp;Apps
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        User Experience Design
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        JavaScript Development
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        Web Performance Tuning
      </li>
      <li class="u-flex u-flexAlignItemsCenter">
        <img class="u-spaceRight01" src="{{dummyImgSrc 60 60 text='Icon'}}" alt=""  style="width: 3.75em;">
        Training and Workshops
      </li>
    </ul>

    <div class="u-spaceTop4 u-spaceItems01">
      <h3>
        Industry Jargon
      </h3>
      <p class="u-md-textShrink1">
        Some of the tools and tech we know well enough to use or argue for/against.
      </p>
    </div>
    <ul class="u-listUnstyled">
      <li>CanJS</li>
      <li>Bootstrap</li>
      <li>React</li>
      {{#iterate 12}}
        <li>{{capitalize (random "word" syllables=3)}}</li>
      {{/iterate}}
    </ul>
  </div>
</div>
