---
title: Core Blog Page F
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-blog-f
labels:
  - latest
notes: |
  Evolution of C using elements from E, with a few adventurous foundational
  tweaks as well.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-paddingMd">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
          <div class="Grid-cell u-md-size5of12 u-lg-size1of2">
            <h1 class="BigOlMasthead u-marginRightMd">Articles</h1>
            <p class="u-textLarger" style="opacity: 0.8;">
              Tales from the edge of the web
            </p>
          </div>
          <div class="Grid-cell u-md-size7of12 u-lg-size1of2 u-marginTopMd">
            <form class="Grid Grid--withGutter">
              <div class="Grid-cell u-sm-sizeFill">
                {{#embed "patterns.components.input.float-label.base"
                 label="Your Email Address"
                 type="email"
                 inputid="blog-digest-email"}}
                {{/embed}}
              </div>
              <div class="Grid-cell u-marginTopXs u-sm-sizeFit u-sm-marginTopNone">
                <button class="Button Button--heyNameMe u-sizeFull">
                  Get Weekly Digests
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-containSpread u-paddingMd">
      {{#with drizzle.data.posts.contents.recent.[0]}}
        <article class="Grid Grid--withGutter Grid--alignMiddle u-marginEndsLg">
          <div class="Grid-cell u-md-size1of2 u-lg-size2of3 u-marginBottomMd u-md-marginBottomNone">
            <img class="u-sizeFull u-maxHeight50 u-fitCover" src="{{image}}" alt="">
          </div>
          <div class="Grid-cell u-md-size1of2 u-lg-size1of3 u-textLarger u-rhythmXs">
            <header>
              <h2>
                <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
              </h2>
            </header>
            <p>
              {{~excerpt~}}
              <a class="u-textNoWrap u-linkClean u-inlineBlock u-textSmaller" href="#">
                More
                {{{
                  embed "patterns.components.icon.base"
                  iconid="arrow-right"
                  role="presentation"
                }}}
              </a>
            </p>
            <footer class="u-flex u-flexAlignItemsCenter" role="contentinfo">
              <div class="u-marginRightXs">
                <div class="Thumbnail Thumbnail--circle u-block">
                  <img src="{{avatar}}" alt="" style="width: 2.5em;">
                </div>
              </div>
              <div classy="u-flex u-flexWrap u-flexAlignItemsBaseline">
                <p class="u-marginRightXs u-textNoWrap u-textSemibold">
                  {{author}}
                </p>
                <p class="u-marginRightXs u-textNoWrap u-textSmaller">
                  {{timestamp date format="MMM D, YYYY"}}
                </p>
              </div>
            </footer>
          </div>
        </article>
      {{/with}}
      <div class="Grid Grid--withGutter u-paddingTopXs">
        <div class="Grid-cell u-md-size2of3 u-marginEndsLg">
          <div class="Grid Grid--withGutter">
            {{#each drizzle.data.posts.contents.recent}}{{#unless @first}}
              <article class="Grid-cell u-lg-size1of2 u-marginBottomXl">
                <div class="u-rhythmXs u-md-paddingRightMd u-lg-paddingRightLg">
                  <header>
                    <h3>
                      <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
                    </h3>
                  </header>
                  <p>
                    {{~excerpt~}}
                    <a class="u-textNoWrap u-linkClean u-inlineBlock u-textSmaller" href="#">
                      More
                      {{{
                        embed "patterns.components.icon.base"
                        iconid="arrow-right"
                        role="presentation"
                      }}}
                    </a>
                  </p>
                  <footer class="u-flex u-flexAlignItemsCenter" role="contentinfo">
                    <div class="u-marginRightXs">
                      <div class="Thumbnail Thumbnail--circle u-block">
                        <img src="{{avatar}}" alt="" style="width: 2.5em;">
                      </div>
                    </div>
                    <div classy="u-flex u-flexWrap u-flexAlignItemsBaseline">
                      <p class="u-marginRightXs u-textNoWrap u-textSemibold">
                        {{author}}
                      </p>
                      <p class="u-marginRightXs u-textNoWrap u-textSmaller">
                        {{timestamp date format="MMM D, YYYY"}}
                      </p>
                    </div>
                  </footer>
                </div>
              </article>
            {{/unless}}{{/each}}
          </div>
          {{{embed "patterns.components.pagination.base"}}}
        </div>
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-flexExpandLeft u-marginEndsXs">
          <div class="u-marginTopXs u-rhythmXs">
            <h3><span class="u-md-textSmallery">Essentials</span></h3>
            <p class="u-md-textSmaller">Frequently-cited posts we&rsquo;re particularly proud of.</p>
            <ul class="u-listUnstyled u-marginTopMd u-marginBottomLg u-spaceChildren">
              {{#each drizzle.data.posts.contents.essential}}
                <li class="u-md-textSmaller">
                  <a class="u-linkClean" href="#">
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="u-marginTopXl">
            <h3><span class="u-md-textSmallery">Topics</span></h3>
            <ul class="u-listUnstyled u-marginEndsLg u-spaceChildren">
              {{#each drizzle.data.topics.contents}}
                <li class="u-md-textSmaller">
                  {{#embed "patterns.components.dot-leader.base" tag="a" href="#"
                    class="u-linkClean u-textInheritColor" startclass="u-linkTarget"}}
                    {{#content "start"}}{{label}}{{/content}}
                    {{#content "end"}}
                      <span class="u-hiddenVisually">(</span>{{count}}<span class="u-hiddenVisually"> articles)</span>
                    {{/content}}
                  {{/embed}}
                </li>
              {{/each}}
              <li class="u-md-textSmaller">
                <a class="u-linkClean" href="#">
                  All topics
                  {{{
                    embed "patterns.components.icon.base"
                    iconid="arrow-right"
                    role="presentation"
                  }}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="u-containSpread">
      <hr class="u-marginSidesMd u-marginEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
