---
title: Home A
layout: toolkit.blank
labels:
  - inprogress
notes: |
  With responsive devices SVG animation.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="Grid Grid--alignMiddle u-spaceBottom1 u-md-spaceBottom2">
        <div class="Grid-cell u-md-size1of2 u-md-flexOrderLast">
          <div class="u-pullSides1 u-md-spaceRightNone">
            <object class="u-sizeFull u-limitHeight2of3" data="/images/sandbox/home-animation.svg" type="image/svg+xml">
              {{! TODO: Fallback (GIF, maybe?) }}
            </object>
          </div>
        </div>
        <div class="Grid-cell u-md-size1of2">
          <div class="u-padSides1 u-padBottom1 u-md-padEnds1 u-spaceItems1">
            <h1 class="u-textGrow2 u-sm-textGrow3">
              We design and develop responsive websites and progressive <span class="u-textNoWrap">web apps.</span>
            </h1>
            <p class="u-sm-textGrow1">
              We scout the frontier of the web to find practical uses for new technology. Together, we can build things right the <span class="u-textNoWrap">first time.</span>
            </p>
            <p>
              <a href="#" class="Button">
                What we do
                {{{
                  embed "patterns.components.icon.base"
                  iconid="arrow-right"
                  class="u-spaceLeft06"
                  role="presentation"
                }}}
              </a>
            </p>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">
    <div class="u-containSpread u-pad1 u-spaceItems1">
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-flex u-flexCol u-md-size1of2 u-spaceEnds2 u-spaceItems1">
          <div class="FlexEmbed u-pullSides1 u-md-spaceSidesNone">
            <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
            <img class="FlexEmbed-content" src="/images/sandbox/home-goals.svg" alt="">
          </div>
          <h2>Our goals are audacious.</h2>
          <p class="u-spaceTop02 u-md-padRight1 u-flexGrow1">We believe the web should be dependable, fast and inclusive. We believe a small company like ours can have an outsized impact on our customers and the world. We bring this perspective to everything we do.</p>
          <p>
            <a href="#" class="Button Button--default">
              What sets us apart
              {{{
                embed "patterns.components.icon.base"
                iconid="arrow-right"
                class="u-spaceLeft06"
                role="presentation"
              }}}
            </a>
          </p>
        </div>
        <div class="Grid-cell u-flex u-flexCol u-md-size1of2 u-spaceEnds2 u-spaceItems1">
          <div class="FlexEmbed u-pullSides1 u-md-spaceSidesNone">
            <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
            <div class="FlexEmbed-content u-bgGray u-pad2">
              <img src="/images/case-studies/walmart-475.png" class="u-rotateBack3 u-block u-flexExpandLeft u-flexExpandRight u-size5of6">
            </div>
          </div>
          <h2>We know the terrain.</h2>
          <p class="u-spaceTop02 u-md-padRight1 u-flexGrow1">Responsive websites, JavaScript applications, hybrid apps, pattern libraries, you name it… if it’s mobile, we’ve built it.</p>
          <p>
            <a href="#" class="Button Button--default">
              Our work
              {{{
                embed "patterns.components.icon.base"
                iconid="arrow-right"
                class="u-spaceLeft06"
                role="presentation"
              }}}
            </a>
          </p>
        </div>
      </div>

      <hr class="u-spaceTop2 u-spaceBottom3">

      <h2><a class="u-linkEnter" href="#">Featured Articles</a></h2>

      <div class="Grid Grid--withGutter u-spaceTopNone">
        {{#each drizzle.data.posts.contents.recent}}{{#compare @index "<" 2}}
          <article class="Grid-cell u-flex u-flexCol u-md-size1of2 u-spaceItems01 u-spaceEnds2">
            <div class="u-spaceBottom1 u-pullSides1 u-md-spaceSidesNone">
              <img class="u-sizeFull" src="{{image}}" alt="">
            </div>
            <header>
              <h3>
                <a class="u-linkClean" href="#">{{title}}</a>
              </h3>
            </header>
            <p class="u-md-padRight1 u-flexGrow1">
              {{~excerpt~}}
            </p>
            <footer class="u-flex u-flexAlignItemsCenter" role="contentinfo">
              <div class="u-spaceRight01">
                <div class="Thumbnail Thumbnail--circle u-block">
                  <img src="{{avatar}}" alt="" style="width: 2.5em;">
                </div>
              </div>
              <div classy="u-flex u-flexWrap u-flexAlignItemsBaseline">
                <p class="u-spaceRight01 u-textNoWrap u-textSemibold">
                  {{author}}
                </p>
                <p class="u-spaceRight01 u-textNoWrap u-textShrink1">
                  <time datetime="{{timestamp date format='YYYY-MM-DDTHH:mm'}}">{{timestamp date format="MMM D, YYYY"}}</time>
                </p>
              </div>
            </footer>
          </article>
        {{/compare}}{{/each}}
      </div>

      <hr class="u-spaceTop2 u-spaceBottom3">

      <h2><a class="u-linkEnter" href="#">Upcoming Talks</a></h2>

      <div class="Grid Grid--withGutter u-spaceBottom u-md-spaceBottom3">
        {{#each drizzle.data.events.contents.upcoming}}{{#compare @index "<" 3}}
          <article class="Grid-cell u-flex u-spaceEnds01 u-sm-size1of2 u-md-size1of3">
            {{#embed "patterns.combos.speaking.future-event" event=this}}{{/embed}}
          </article>
        {{/compare}}{{/each}}
      </div>

    </div>
    <div class="u-containSpread">
      <hr class="u-spaceSides1 u-spaceEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
