---
title: Core Blog Page A
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-blog-a
notes: |
  Chronological posts plus sidebar linkage.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-pad1">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
          <div class="Grid-cell u-md-size5of12 u-lg-size1of2">
            <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">Articles</h1>
            <p class="u-textGrow1">
              Tales from the edge of the web
            </p>
          </div>
          <div class="Grid-cell u-md-size7of12 u-lg-size1of2 u-spaceTop1">
            <form class="Grid Grid--withGutter">
              <div class="Grid-cell u-sm-sizeFill">
                {{{
                  embed "patterns.components.input.float-label.base"
                  floatlabelclass="FloatLabel--dark"
                  inputclass="Input--dark"
                  label="Your Email Address"
                  type="email"
                  inputid="blog-digest-email"
                }}}
              </div>
              <div class="Grid-cell u-spaceTop01 u-sm-sizeFit u-sm-spaceTopNone">
                <button class="Button Button--primaryDark u-sizeFull">
                  Get Weekly Digests
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">

    <div class="u-containSpread u-pad1">

      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-md-size2of3 u-spaceItems6 u-spaceEnds2">
          {{#each drizzle.data.posts.contents.recent}}
            <article class="u-spaceItems01">
              <header>
                <h2>
                  <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
                </h2>
              </header>
              {{#if image}}
                <img src="{{image}}" alt="">
              {{/if}}
              <p>
                {{excerpt}}
              </p>
              <div class="u-flex u-flexAlignItemsCenter">
                <footer class="u-flex u-flexAlignItemsCenter" role="contentinfo">
                  <div class="u-spaceRight01">
                    <div class="Thumbnail Thumbnail--circle u-block">
                      <img src="{{avatar}}" alt="" style="width: 2em;">
                    </div>
                  </div>
                  <div class="u-flex u-flexWrap u-flexAlignItemsBaseline">
                    <p class="u-spaceRight01 u-textNoWrap u-textBold">
                      {{author}}
                    </p>
                    <p class="u-spaceRight01 u-textNoWrap u-textShrink1">
                      {{timestamp date format="MMM D, YYYY"}}
                    </p>
                  </div>
                </footer>
                <p class="u-flexExpandLeft">
                  <a class="u-textNoWrap u-textBold u-linkClean" href="#">
                    Read <span class="u-hidden u-sm-inline">more</span>
                    {{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                    {{/embed}}
                  </a>
                </p>
              </div>
            </article>
          {{/each}}
          <nav role="menu" aria-label="Pagination">
            <ul class="Pagination Pagination--withPreviousy Pagination--withNext">
              {{#iterate 10}}
                <li>
                  {{#compare @count "===" 1}}
                    <span class="Pagination-item">
                      <span class="u-hiddenVisually">Currently viewing page</span> {{@count}}
                    </span>
                  {{else}}
                    <a class="Pagination-item" href="#">
                      {{#compare @count "===" 0}}
                        <span class="Pagination-item Pagination-item--previous">
                          <svg class="Icon Icon--large" title="Previous:">
                            <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#arrow-left" />
                          </svg>
                        </span>
                      {{/compare}}
                      {{#compare @count "===" 2}}
                        <span class="Pagination-item Pagination-item--next">
                          <svg class="Icon Icon--large" title="Next:">
                            <use xlink:href="{{baseurl}}/assets/toolkit/images/icons.svg#arrow-right" />
                          </svg>
                        </span>
                      {{/compare}}
                      <span class="u-hiddenVisually">Page</span> {{@count}}
                    </a>
                  {{/compare}}
                </li>
              {{/iterate}}
            </ul>
          </nav>
        </div>
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-flexExpandLeft u-spaceItems1 u-spaceEnds01">

          <div class="u-spaceTop01">
            <h2><span class="u-md-textShrink1">Essentials</span></h2>
            <p class="u-md-textShrink1">Frequently-cited posts we&rsquo;re particularly proud of.</p>
            <ul class="u-listUnstyled">
              {{#each drizzle.data.posts.contents.essential}}
                <li class="u-md-textShrink1 {{#unless @first}}u-borderTopMd{{/unless}}">
                  <a class="u-padEnds01 u-linkBlock" href="#">
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="u-spaceItems01">
            <h2><span class="u-md-textShrink1">Topics</span></h2>
            <ul class="u-listUnstyled">
              {{#each drizzle.data.topics.contents}}
                <li class="{{#unless @first}}u-borderTopMd{{/unless}}">
                  <a class="u-padEnds01 u-linkClean u-flex" href="#">
                    {{label}}
                    <span class="u-flexExpandLeft" style="color: #909699;">
                      <span class="u-hiddenVisually">(</span>{{count}}<span class="u-hiddenVisually">)</span>
                    </span>
                  </a>
                </li>
              {{/each}}
              <li class="u-borderTopMd">
                <a class="u-padEnds01 u-linkClean u-flex u-flexAlignItemsCenter" href="#">
                  All topics
                  <span class="u-flexExpandLeft">
                    {{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                    {{/embed}}
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <div class="u-containSpread">
      <hr class="u-spaceSides1 u-spaceEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
