---
title: Single Talk Page
layout: toolkit.single
stylesheets:
  - sandbox/tcs-events-a
labels:
  - latest
notes: |
  With talk description, relevant media and presentation history. Takes some
  visual cues from blog post prototype.
---

<h1 class="u-spaceTop1"><span class="u-textGrow1">When You Just Can&rsquo;t Even</span></h1>
<div class="u-spaceItems1">
  <p class="u-textGrow1">
    I would like to give you a back&shy;stage pass to my imag&shy;ination. You suck the oysters up and you always keep some on your face to let the oysters know that you&rsquo;re proud of em.
  </p>
  <div class="u-flex u-flexAlignItemsCenter">
    <div class="Thumbnail Thumbnail--circle u-spaceRight01">
      <img src="/assets/toolkit/images/sandbox/rico.jpg" alt="" style="width: 3em; height: 3em;">
    </div>
    <div>
      <b>Phillipé Flarghuunstöw</b><br>
      <i>Lead Something Person</i>
    </div>
  </div>
</div>
<div class="u-spaceItems1 u-spaceTop2">
  <script async class="speakerdeck-embed" data-id="f83311d5319044dfa5cd5ecf0451281d" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
  <ul class="u-listUnstyled Grid Grid--fit Grid--withGutter">
    <li class="Grid-cell">
      <a href="#" class="Button Button--default u-block">
        <svg class="Icon Icon--large" role="img">
          <use xlink:href="/assets/toolkit/images/icons.svg#attachment"/>
        </svg>
        PDF
      </a>
    </li>
    <li class="Grid-cell">
      <a href="#" class="Button Button--default u-block">
        <svg class="Icon Icon--large" role="img">
          <use xlink:href="/assets/toolkit/images/icons.svg#github"/>
        </svg>
        GitHub
      </a>
    </li>
  </ul>
</div>
<hr class="u-spaceEnds2">
<div class="u-spaceItems1">
  <div class="u-flex u-flexAlignItemsBaseline u-flexWrap">
    <h2 class="u-spaceRight01">Watch</h2>
    <p>Dashing Confluence (Dec 12, 2015)</p>
  </div>
  <div class="FlexEmbed">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
    <iframe class="FlexEmbed-content" width="320" height="180" src="https://www.youtube-nocookie.com/embed/HEZdnuJCoGo?rel=0" allowfullscreen></iframe>
  </div>
</div>
<hr class="u-spaceEnds2">
<div class="u-spaceItems1">
  <h2>Presented at&hellip;</h2>
  <div class="ODoyleRules">
    {{#each drizzle.data.events.contents.past}}
      <article>
        <div class="Grid Grid--withGutter">
          <p class="Grid-cell u-size1of3 u-sm-size1of4 u-md-size1of5 u-textNoWrap">{{date}}</p>
          <div class="Grid-cell u-size2of3 u-sm-size3of4 u-md-size4of5 u-sm-flex u-flexWrap">
            <p class="u-spaceRight01">
              <a href="{{url}}"><b>{{name}}</b></a>
            </p>
            <p>
              {{location}}
            </p>
            {{#if media}}
              <ul class="u-listInline u-sm-flexExpandLeft">
                {{#each media}}
                  <li><a href="{{.}}">{{@key}}</a></li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
      </article>
    {{/each}}
  </div>
</div>
<div class="PresenterInfo u-spaceEnds2">
  <div class="Thumbnail Thumbnail--circle">
    <img src="/assets/toolkit/images/sandbox/rico.jpg" alt="" style="width: 5em; height: 5em;">
  </div>
  <p>
    <a href="#"><b>Phillipé Flarghuunstöw</b></a> was discovered under one of Portland's many bridges ranting about Web Standards at unsuspecting passerby. After an excruciatingly tedious period of reintroduction into society, he began delivering those same rants to appreciative audiences worldwide. He regularly updates his <a href="#">MySpace</a> and <a href="#">LiveJournal</a>.
  </p>
</div>
<p class="u-spaceEnds2">
  <a class="Button" href="#">
    <svg class="Icon" role="img">
      <use xlink:href="/assets/toolkit/images/icons.svg#arrow-left"/>
    </svg>
    &nbsp;All talks
  </a>
</p>
