---
title: Core Blog Page C
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-blog-a
notes: |
  Hybrid layout based on both previous approaches.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-paddingMd">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
          <div class="Grid-cell u-md-size5of12 u-lg-size1of2">
            <h1 class="BigOlMasthead u-marginRightMd">Articles</h1>
            <p class="u-textLarger" style="opacity: 0.8;">
              Tales from the edge of the web
            </p>
          </div>
          <div class="Grid-cell u-md-size7of12 u-lg-size1of2 u-marginTopMd">
            <form class="Grid Grid--withGutter">
              <div class="Grid-cell u-sm-sizeFill">
                {{#embed "patterns.components.input.float-label.base"
                 label="Your Email Address"
                 type="email"
                 inputid="blog-digest-email"}}
                {{/embed}}
              </div>
              <div class="Grid-cell u-marginTopXs u-sm-sizeFit u-sm-marginTopNone">
                <button class="Button Button--heyNameMe u-sizeFull">
                  Get Weekly Digests
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">

    <div class="u-containSpread u-paddingMd">

      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-md-size3of4 u-rhythmXl u-marginEndsLg">
          <div class="Grid Grid--withGutter u-rhythmXl u-md-marginRightLg">
            {{#each drizzle.data.posts.contents.recent}}
              {{#compare @index "<" 5}}
                <article class="Grid-cell {{#and @first image}}{{else}}u-md-size1of2{{/and}} u-rhythmXs">
                  <header>
                    <h2>
                      <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
                    </h2>
                  </header>
                  {{#and @first image}}
                    <img src="{{image}}" alt="">
                  {{/and}}
                  <p class="u-paddingRightSm">
                    {{excerpt}}&nbsp;
                    <a class="u-linkClean u-textNoWrap u-textSmaller" href="#">
                      Read more&nbsp;{{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                      {{/embed}}
                    </a>
                  </p>
                  <footer class="u-flex u-flexAlignItemsCenter">
                    <div class="Thumbnail Thumbnail--circle">
                      <img src="{{avatar}}" alt="" width="48">
                    </div>
                    <div class="u-marginLeftXs">
                      <p class="u-textBold">{{author}}</p>
                      <p class="u-textSmaller">{{timestamp date format="MMM D, YYYY"}}</p>
                    </div>
                  </footer>
                </article>
              {{/compare}}
            {{/each}}
          </div>
          <p>
            <a class="Button" href="#">
              <svg class="Icon" role="img">
                <use xlink:href="/assets/toolkit/images/icons.svg#arrow-left"/>
              </svg>
              &nbsp;Older Articles
            </a>
          </p>
        </div>
        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-flexExpandLeft u-spaceChildren u-marginEndsXs">

          <div class="u-marginTopXs">
            <h2><span class="u-md-textSmaller">Essentials</span></h2>
            <p class="u-md-textSmaller">Frequently-cited posts we&rsquo;re particularly proud of.</p>
            <ul class="u-listUnstyled">
              {{#each drizzle.data.posts.contents.essential}}
                <li class="u-md-textSmaller {{#unless @first}}u-borderTopMd{{/unless}}">
                  <a class="u-paddingEndsXs u-linkBlock" href="#">
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="u-rhythmXs">
            <h2><span class="u-md-textSmaller">Topics</span></h2>
            <ul class="u-listUnstyled">
              {{#each drizzle.data.topics.contents}}
                <li class="{{#unless @first}}u-borderTopMd{{/unless}}">
                  <a class="u-paddingEndsXs u-linkClean u-flex" href="#">
                    {{label}}
                    <span class="u-flexExpandLeft" style="color: #909699;">
                      <span class="u-hiddenVisually">(</span>{{count}}<span class="u-hiddenVisually">)</span>
                    </span>
                  </a>
                </li>
              {{/each}}
              <li class="u-borderTopMd">
                <a class="u-paddingEndsXs u-linkClean u-flex u-flexAlignItemsCenter" href="#">
                  All topics
                  <span class="u-flexExpandLeft">
                    {{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                    {{/embed}}
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <div class="u-containSpread">
      <hr class="u-marginSidesMd u-marginEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
