---
title: Core Blog Page B
layout: toolkit.blank
stylesheets:
  - sandbox/tcs-blog-a
notes: |
  One featured post, then tiled chronological posts.
---

{{{embed "patterns.components.sky.base"}}}

<main role="main" id="main">
  {{#embed "patterns.components.sky.base" class="Sky--clouds"}}
    {{#content "top"}}
      <div class="u-paddingMd">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
          <div class="Grid-cell u-md-size5of12 u-lg-size1of2">
            <h1 class="u-textGrow5 u-sm-textGrow6 u-marginRightMd">Articles</h1>
            <p class="u-textGrow1">
              Tales from the edge of the web
            </p>
          </div>
          <div class="Grid-cell u-md-size7of12 u-lg-size1of2 u-marginTopMd">
            <form class="Grid Grid--withGutter">
              <div class="Grid-cell u-sm-sizeFill">
                {{{
                  embed "patterns.components.input.float-label.base"
                  floatlabelclass="FloatLabel--dark"
                  inputclass="Input--dark"
                  label="Your Email Address"
                  type="email"
                  inputid="blog-digest-email"
                }}}
              </div>
              <div class="Grid-cell u-marginTopXs u-sm-sizeFit u-sm-marginTopNone">
                <button class="Button Button--primaryDark u-sizeFull">
                  Get Weekly Digests
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/content}}
  {{/embed}}
  <div class="u-bgWhite">

    <div class="u-containSpread u-paddingMd">

      <div class="Grid Grid--withGutter u-marginEndsLg u-rhythmXl">
        {{#each drizzle.data.posts.contents.recent}}
          {{#if @first}}
            <article class="Grid-cell">
              <div class="Grid Grid--withGutter Grid--alignMiddle">
                <div class="Grid-cell u-md-size1of2 u-lg-size2of3 u-marginBottomMd u-md-marginBottomNone">
                  <img class="u-sizeFull" src="{{image}}" alt="">
                </div>
                <div class="Grid-cell u-md-size1of2 u-lg-size1of3 u-rhythmXs">
                  <header>
                    <h2>
                      <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
                    </h2>
                  </header>
                  <p>
                    {{excerpt}}&nbsp;
                    <a class="u-linkClean u-textNoWrap u-textShrink1" href="#">
                      Read more
                      {{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                      {{/embed}}
                    </a>
                  </p>
                  <footer class="u-flex u-flexAlignItemsCenter">
                    <div class="Thumbnail Thumbnail--circle">
                      <img src="{{avatar}}" alt="" width="48">
                    </div>
                    <div class="u-marginLeftXs">
                      <p class="u-textBold">{{author}}</p>
                      <p class="u-textShrink1">{{timestamp date format="MMM D, YYYY"}}</p>
                    </div>
                  </footer>
                </div>
              </div>
            </article>
          {{/if}}
        {{/each}}
        {{#each drizzle.data.posts.contents.recent}}
          {{#unless @first}}
            <article class="Grid-cell u-md-size1of2 u-lg-size1of3 u-rhythmXs">
              <header class="u-md-paddingRightXs">
                <h2>
                  <a class="u-linkClean u-textInheritColor" href="#">{{title}}</a>
                </h2>
              </header>
              <p class="u-md-paddingRightXs">
                {{excerpt}}&nbsp;
                <a class="u-linkClean u-textNoWrap u-textShrink1" href="#">
                  Read more
                  {{#embed "patterns.components.icon.base" iconid="arrow-right"}}
                  {{/embed}}
                </a>
              </p>
              <footer class="u-flex u-flexAlignItemsCenter">
                <div class="Thumbnail Thumbnail--circle">
                  <img src="{{avatar}}" alt="" width="48">
                </div>
                <div class="u-marginLeftXs">
                  <p class="u-textBold">{{author}}</p>
                  <p class="u-textShrink1">{{timestamp date format="MMM D, YYYY"}}</p>
                </div>
              </footer>
            </article>
          {{/unless}}
        {{/each}}
      </div>
      <p class="u-marginTopXl u-marginBottomLg">
        <a class="Button" href="#">
          <svg class="Icon" role="img">
            <use xlink:href="/assets/toolkit/images/icons.svg#arrow-left"/>
          </svg>
          &nbsp;Older Articles
        </a>
      </p>
      <hr class="u-marginEndsLg">
      <div class="u-marginEndsLg u-marginBottomNone u-rhythmSm">
        <h3>Browse by Topic</h3>
        <ul class="u-listInline">
          {{#each drizzle.data.topics.contents}}
            <li class="u-marginBottomSm">
              <a href="#" class="Button">
                {{label}}
                <span class="u-textGray">
                  {{count}}
                </span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>

    </div>

    <div class="u-containSpread">
      <hr class="u-marginSidesMd u-marginEndsNone">
      {{> toolkit.page-segue }}
    </div>
  </div>
</main>

{{> toolkit.global-footer }}
