---
notes: |
  The `.CmsContent` class is used on the parent element of CMS prose fields to style some common child elements:
    + `<pre>`: Adds padding and negative margins
    + `<blockquote>`: Adds border and lightens color
---

<article class="CmsContent u-staggerItems1">
  <p>
    {{random "paragraph" sentences="2"}}
  </p>
  <pre><code class="language-css">.CodeSample {
  display: block;
  padding: 1rem;
}</code></pre>
  <p>
    {{random "paragraph" sentences="2"}}
  </p>
  <blockquote>
    <p>
      {{random "paragraph" sentences="1"}}
    </p>
    <p>
      {{random "paragraph" sentences="1"}}
    </p>
  </blockquote>
  <p>
    {{random "paragraph" sentences="2"}}
  </p>
</article>
