{% set _note %}{% block note %}{{ note }}{% endblock %}{% endset %}

<div class="c-speaking-event{% if class %} {{class}}{% endif %}">
  {% embed '@cloudfour/objects/media/media.twig' with {
    reverse_markup: true,
    datetime: datetime,
    note: _note,
    event: event,
    location: location,
    speakers: speakers
  } only %}
    {% block object %}
      {% include '@cloudfour/components/calendar-date/calendar-date.twig' with {
        datetime: datetime,
        note: note
      } only %}
    {% endblock %}
    {% block content %}
      <h3><a href="#link-1">{{event}}</a></h3>
      <p>{{location}}</p>
      <p>{% if speakers|length > 1 %}
        Speakers:
      {% else %}
        Speaker:
      {% endif %}
      {{ speakers|join(', ') }} </p>
    {% endblock %}
  {% endembed %}
</div>
