{% set heading_level = heading_level|default(3) %}
{% set _note %}{% block note %}{{ note }}{% endblock %}{% endset %}

<div class="c-speaking-event{% if class %} {{class}}{% endif %}">
  {% embed '@cloudfour/objects/media/media.twig' with {
    reverse_markup: true,
    datetime: datetime,
    note: _note,
    event: event,
    location: location,
    speakers: speakers,
    href: href
  } only %}
    {% block object %}
      {% include '@cloudfour/components/calendar-date/calendar-date.twig' with {
        datetime: datetime,
        note: note
      } only %}
    {% endblock %}
    {% block content %}
      <h{{ heading_level }}>
        <a
          href="{{ href }}"
          class="c-speaking-event__link"
        >
          {{ event }}
        </a>
      </h{{ heading_level }}>
      <p>{{ location }}</p>
      <p>{% if speakers|length == 1 %}
        Speaker:
      {% else %}
        Speakers:
      {% endif %}
      {{ speakers|join(', ') }} </p>
    {% endblock %}
  {% endembed %}
</div>
