---
name: Presentation Talk
notes: |
  This is a presentation talk used in the "Our Talks" section of the "Speaking" page.

default:
  title: Adaptive Input
  speaker: Jason Grigsby
  thumbnail: /assets/toolkit/images/sandbox/event-thumb-input.jpg
  alt: Adaptive Input
  url: "http://cloudfour.com"
  events:
    - Refresh PDX
    - An Event Apart
    - Smashing Conference
  moreEvents: 3
  ---
<a href="{{defaultTo url default.url}}" class="u-block u-linkComplex u-textInheritColor">
  <div class="Thumbnail Thumbnail--rounded@sm u-block u-marginSidesMinusMd u-sm-marginSidesNone">
    <img class="u-sizeFull" src="{{defaultTo thumbnail default.thumbnail}}" alt="{{defaultTo alt default.alt}}">
  </div>
  {{!-- TODO: Figure out how to inherit color on :hover --}}
  <h2 class="u-marginTopXs u-linkComplexTarget">
    {{defaultTo title default.title}}
  </h2>
  <p><b>By {{defaultTo speaker default.speaker}}</b></p>
  <p class="u-sm-paddingRightSm">
    Presented at
    {{#each default.events}}{{#if @index}}, {{/if}}{{.}}{{/each}}
    {{#if (defaultTo moreEvents default.moreEvents)}}
      {{!-- TODO: Figure out how to inherit color on :hover --}}
      <span class="u-textNoWrap u-linkComplexTarget">
        + {{moreEvents}} more
      </span>
    {{/if}}
  </p>
</a>
