---
name: Talk Preview
notes: |
  This is a talk preview intended to be used in the "Our Talks" section of the "Speaking" page.

default:
  talk:
    title: Adaptive Input
    speaker: Jason Grigsby
    thumbnail: /assets/toolkit/images/sandbox/event-thumb-input.jpg
    alt: Adaptive Input
    url: "http://cloudfour.com"
    events:
      - Refresh PDX
      - An Event Apart
      - Smashing Conference
    moreEvents: 3
---
{{#with (defaultTo talk default.talk)}}
  <a href="{{url}}" class="u-block u-linkClean u-textInheritColor">
    <div class="Thumbnail u-borderRadiusSm u-block u-marginSidesMinusMd u-sm-marginSidesNone">
      <img class="u-sizeFull" src="{{thumbnail}}" alt="{{alt}}">
    </div>
    <h2 class="u-marginTopXs u-linkCleanTarget">
      {{title}}
    </h2>
    <p class="u-textBold">By {{speaker}}</p>
    <p class="u-sm-paddingRightSm">
      Presented at
      {{#each events}}{{#if @index}}, {{/if}}{{.}}{{/each}}
      {{#if moreEvents}}
        <span class="u-textNoWrap u-linkCleanTarget">
          + {{moreEvents}} more
        </span>
      {{/if}}
    </p>
  </a>
{{/with}}
