<div id="_new-footer-r3">
  <footer class="_c-ground-nav">
    <div class="o-container o-container--pad-inline _c-ground-nav__lead-in">
      <div class="o-container__content">
        (lead-in)
      </div>
    </div>
    <div class="o-container o-container--pad _c-ground-nav__main">
      <div class="o-container__content _c-ground-nav__content">
        <address class="_c-ground-nav__address">
          <a class="c-heading _c-heading--medium" href="{{organization.url}}">
            {{organization.name}}
          </a><br>
          {{organization.address1}}<br>
          {{organization.address2}}<br>
          <a class="_c-ground-nav__address-section" href="mailto:{{ organization.email }}">{{ organization.email }}</a><br>
          <a href="tel:{{ organization.phone|replace({
            '.': '-',
            '(': '-',
            ')': '-',
            ' ': ''
          }) }}">{{ organization.phone }}</a>
        </address>
        <nav class="_c-ground-nav__primary-nav">
          <h2 class="c-heading _c-heading--medium">Explore</h2>
          <ul class="o-list">
            {% for item in nav %}
              <li>
                <a href="{{item.href|default('#')}}">
                  {{item.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <nav class="_c-ground-nav__secondary-nav">
          <h2 class="c-heading _c-heading--medium">Topics</h2>
          <ul class="o-list">
            {% for item in topics %}
              <li>
                <a href="{{item.href|default('#')}}">
                  {{item.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="_c-ground-nav__social">
          <ul class="o-list o-list--inline">
            {% for item in social %}
              <li>
                <a href="#">
                  {% include '@cloudfour/components/icon/icon.twig' with {
                    "name": item.icon,
                  } only %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <p class="_c-ground-nav__colophon">
          &copy; 2007&ndash;{{ "now"|date("Y") }} {{organization.name}}
        </p>
      </div>
    </div>
  </footer>
</div>
