{% set _heading_depth = min(heading_depth|default(3), 6) %}

<article class="c-comment {% if comment.children %}c-comment--thread{% endif %}" id="comment-{{comment.ID}}">
  <header class="c-comment__header">
    <h{{_heading_depth}} class="c-comment__heading">
      {{comment.author.name}}
      <span class="u-hidden-visually">
        {% if comment.is_child %}replied{% else %}said{% endif %}:
      </span>
    </h{{_heading_depth}}>
  </header>
  <div class="c-comment__object">
    {% include '@cloudfour/components/avatar/avatar.twig' with {
      src: comment.avatar,
      size: 'full'
    } only %}
  </div>
  {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
    class: 'c-comment__content o-rhythm--condensed'
  } %}
    {% block content %}
      {{comment.comment_content|raw}}
    {% endblock %}
  {% endembed %}
  <footer class="c-comment__footer">
    <div class="c-comment__meta">
      <a href="{{comment.link}}"
        title="Permalink to {{comment.author.name}}’s {{comment.date|date('M j')}} {% if comment.is_child %}reply{% else %}comment{% endif %}">
        <time datetime="{{comment.date|date('Y-m-d')}}">
          {{comment.date|date('M j, Y')}}
        </time>
      </a>
    </div>
    {% if comment.children %}
      {% set _section_heading_depth = min(_heading_depth + 1, 6) %}
      {% set _child_heading_depth = min(_section_heading_depth + 1, 6) %}
      <h{{_section_heading_depth}} class="u-hidden-visually">
        Replies
      </h{{_section_heading_depth}}>
      {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
        class: 'c-comment__replies'
      } %}
        {% block content %}
          {% for child in comment.children %}
            {% include '@cloudfour/components/comment/comment.twig' with {
              comment: child,
              heading_depth: _child_heading_depth
            } only %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% endif %}
  </footer>
</article>
