{% set _heading_depth = min(heading_depth|default(3), 6) %}

<article class="c-comment{% if comment.children is not empty %} c-comment--thread{% endif %} js-comment" id="comment-{{comment.ID}}">
  <header class="c-comment__header">
    <h{{_heading_depth}} class="c-comment__heading">
      {{comment.author.name}}
      {#
        TODO: Replace `demo_post_author` and `demo_cloud_four_member` with
        more meaningful blocks or properties once we have a better idea of how
        we'll integrate role badging based on actual comment data.
      #}
      {% if demo_post_author %}
        <span class="u-hidden-visually">(Article</span>
        {% embed '@cloudfour/components/badge/badge.twig' with {
          label: 'Author',
          icon: 'pencil',
        } only %}
        {% endembed %}
        <span class="u-hidden-visually">)</span>
      {% elseif demo_cloud_four_member %}
        <span class="u-hidden-visually">(Cloud Four</span>
        {% embed '@cloudfour/components/badge/badge.twig' with {
          label: 'Team'
        } only %}
          {% block extra %}
            {% include '@cloudfour/assets/brand/logo.svg.twig' with {
              class: 'c-icon',
              aria_hidden: 'true',
            } only %}
          {% endblock %}
        {% endembed %}
        <span class="u-hidden-visually">Member)</span>
      {% endif %}
      <span class="u-hidden-visually">
        {% if comment.is_child %}replied{% else %}said{% endif %}:
      </span>
    </h{{_heading_depth}}>
  </header>
  <div class="c-comment__object">
    {% include '@cloudfour/components/avatar/avatar.twig' with {
      src: comment.avatar,
      size: 'full'
    } only %}
  </div>
  {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
    class: 'c-comment__content o-rhythm--condensed'
  } %}
    {% block content %}
      {% if not comment.approved %}
        {% include '@cloudfour/components/alert/alert.twig' with {
          message: 'This comment is awaiting moderation.'
        } only %}
      {% endif %}
      {{comment.comment_content|raw}}
    {% endblock %}
  {% endembed %}
  <footer class="c-comment__footer">
    <div class="c-comment__meta">
      <div class="c-comment__meta-detail">
        <a class="c-comment__meta-link"
          href="{{comment.link}}">
          <span class="c-comment__meta-icon">
            {% include '@cloudfour/components/icon/icon.twig' with {
              name: 'link',
              inline: true,
              aria_hidden: 'true',
            } only %}
          </span>
          <span class="u-hidden-visually">
            Permalink to {{comment.author.name}}’s
          </span>
          <time datetime="{{comment.date|date('Y-m-d')}}">
            {{comment.date|date('M j, Y')}}
          </time>
          <span class="u-hidden-visually">
            {% if comment.is_child %}reply{% else %}comment{% endif %}
          </span>
        </a>
      </div>
      {% if source %}
        <div class="c-comment__meta-detail">
          via <a class="c-comment__meta-link" href="{{source.url}}">{{source.name}}</a>
        </div>
      {% endif %}

      {% if comment.allow_replies %}
        <div class="c-comment__meta-control">
          {% include '@cloudfour/components/button/button.twig' with {
            type: 'button',
            class: 'c-button--tertiary js-comment-reply-button',
            content_start_icon: 'speech-balloon',
            label: 'Reply'
          } only %}
        </div>
      {% endif %}
    </div>
    {% set _section_heading_depth = min(_heading_depth + 1, 6) %}

    {% if comment.allow_replies %}
      <div class="c-comment__reply-form js-comment-reply-form" hidden>
        {% include '@cloudfour/components/comment-form/comment-form.twig' with {
          is_reply: true,
          logged_in_user: logged_in_user,
          log_out_url: log_out_url,
          heading_id: "reply-to-comment-#{comment.ID}",
          heading_tag: "h#{_section_heading_depth}",
          heading_text: "Reply to #{comment.author.name}",
          heading_class: "c-comment__heading"
        } only %}
      </div>
    {% endif %}
    {% if comment.children is not empty %}
      {% set _child_heading_depth = min(_section_heading_depth + 1, 6) %}
      <h{{_section_heading_depth}} class="u-hidden-visually">
        Replies to {{comment.author.name}}
      </h{{_section_heading_depth}}>
      {% embed '@cloudfour/objects/rhythm/rhythm.twig' with {
        class: 'c-comment__replies'
      } %}
        {% block content %}
          {% for child in comment.children %}
            {% include '@cloudfour/components/comment/comment.twig' with {
              comment: child,
              heading_depth: _child_heading_depth,
              logged_in_user: logged_in_user,
              log_out_url: log_out_url
            } only %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% endif %}
  </footer>
</article>
