<div id="ph-prototype-articles-example">
  <div class="hero t-dark">
    <h1>Articles</h1>
    <p class="subtitle">
      Tales from the edge of the web
    </p>
  </div>

  <div class="content">
    <div class="listings">
      {% for article in feed.items %}
        <article class="card">
          <header>
            <h2>
              <a href="{{article.url}}" class="card__primary-action">
                {{article.title}}
              </a>
            </h2>
          </header>

          {# {% if article.image %}
            {% embed '../../../objects/embed/embed.twig' with {
                class: 'o-embed--wide'
              } %}
              {% block content %}
                <img src="{{article.image}}" alt="">
              {% endblock %}
            {% endembed %}
          {% endif %} #}

          <p class="card__content">
            {{article.summary}}
          </p>

          <footer class="card__footer">
            <a class="author card__secondary-action" href="{{article.author.url}}">
              <img src="{{article.author.avatar}}" alt="" class="author__photo"
              style="
                --border-radius-val-1: calc(35% + {{ random(30) }}%);
                --border-radius-val-2: calc(35% + {{ random(30) }}%);
                --border-radius-val-3: calc(35% + {{ random(30) }}%);
                --border-radius-val-4: calc(35% + {{ random(30) }}%);
                --border-radius-val-5: calc(35% + {{ random(30) }}%);
                --border-radius-val-6: calc(35% + {{ random(30) }}%);
                --border-radius-val-7: calc(35% + {{ random(30) }}%);
                --border-radius-val-8: calc(35% + {{ random(30) }}%);
                {# --rotation: calc(-10deg + {{ random(20) }}deg); #}
              ">

              <span>
                {{article.author.name}}
              </span>
            </a>
            <p class="date">
              {{article.date_published|replace({'Z': ''})|date('F j, Y')}}
            </p>
          </footer>
        </article>
      {% endfor %}
      </div>
  </div>
</div>
