---
name: Post Header
order: 1
notes: |
  This is a heading group intended to live at the start of blog posts.

default:
  post:
    title: This is a post title
    subtitle: This is a post subtitle
    date: 2017-05-23
  author:
    name: Author Name
    url: /authors/foo
---

<header>
  {{#with (defaultTo post default.post)}}
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
  {{/with}}
  Written by
  {{#with (defaultTo author default.author)}}
    <a href="{{url}}">{{name}}</a>
  {{/with}}
  {{#with (defaultTo post default.post)}}
    on <time datetime="{{date}}">{{timestamp date format="MMM D, YYYY"}}</time>
  {{/with}}
</header>
