---
name: Post Comment
order: 4
---

{{#with (defaultTo comment drizzle.data.comments.contents.[1])}}
  <article class="u-padEnds u-spaceItems1 u-borderBottomMd js-comment" data-id="{{math @index '++'}}">
    <p>{{comment}}</p>
    <footer>
      <div class="u-flex u-flexAlignItemsCenter u-flexJustifyBetween js-comment-insertReply">
        <div class="u-flex u-flexWrap u-flexAlignItemsBaseline">
          <p class="u-textBold u-spaceRight01">
            {{author}}
          </p>
          <p class="u-textShrink1 u-spaceRight01">
            <time datetime="{{timestamp date format='YYYY-MM-DDTHH:mm'}}">{{timestamp date format="MMM D, YYYY"}}</time>
          </p>
        </div>
        {{#unless showForm}}
          <p>
            <a class="u-linkClean u-textBold u-textNoWrap js-comment-replyToggle" href="#">
              {{svg "icons/reply" class="Icon" role="presentation"}}
              Reply
            </a>
          </p>
        {{/unless}}
      </div>
      {{#if showForm}}
        {{{
          embed "patterns.combos.blog.post-comment-form"
          class="u-spaceLeft1 u-padTop u-padBottom04 u-borderTopMd"
          isReply=true
        }}}
      {{/if}}
      {{#if reply}}
        <section class="u-spaceLeft1">
          <header class="u-hiddenVisually">
            <h2>Replies</h2>
          </header>
          {{#each reply}}
            <article class="u-padTop u-spaceTop u-spaceItems1 u-borderTopMd">
              <p>{{comment}}</p>
              <footer class="u-flex u-flexWrap u-flexAlignItemsBaseline">
                <p class="u-textBold u-spaceRight01">
                  {{#if cloudfour}}
                    {{svg "icons/cloud-four" class="Icon Icon--large u-linkTarget u-spaceRight06" role="presentation"}}
                  {{/if}}
                  {{author}}
                </p>
                <p class="u-textShrink1 u-spaceRight01">
                  <a class="u-linkEnter" href="#" title="Link to this comment">
                    <time datetime="{{timestamp date format='YYYY-MM-DDTHH:mm'}}">{{timestamp date format="MMM D, YYYY"}}</time>
                  </a>
                </p>
              </footer>
            </article>
          {{/each}}
        </section>
      {{/if}}
    </footer>
  </article>
{{/with}}
