<div id="prototype-tyler-a">
  {% embed '../../../objects/container/container.twig' %}
    {% block content %}
      <div class="articles">
        {% for article in feed.items %}
          <article class="article">
            <div class="article__content">
              <header class="article__header">
                <h2 class="article__heading">
                  <a class="article__link" href="{{article.url}}">
                    {{article.title}}
                  </a>
                </h2>
                <p class="article__date">
                  {{article.date_published|replace({'Z': ''})|date('F j, Y')}}
                </p>
                <p class="article__author">
                  {{article.author.name}}
                </p>
              </header>
              <p class="article__summary">
                {% if article.summary|length > 140 %}
                  {{article.summary|slice(0, 140)}}…
                {% else %}
                  {{article.summary}}
                {% endif %}
              </p>
            </div>
            <div class="article__image">
              {% embed '../../../objects/embed/embed.twig' with {
                  class: 'o-embed--wide u-rounded'
                } %}
                {% block content %}
                  {% if article.image %}
                    <img src="{{article.image}}" alt="">
                  {% else %}
                    <div class="article__avatar">
                      <img src="{{article.author.avatar}}" alt="">
                    </div>
                  {% endif %}
                {% endblock %}
              {% endembed %}
            </div>
          </article>
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
</div>
