<div id="prototype-articles-example">
  <div class="articles">
    {% for article in feed.items %}
      <article>
        <header>
          <h2>
            <a href="{{article.url}}">
              {{article.title}}
            </a>
          </h2>
        </header>
        <p>
          {{article.date_published|replace({'Z': ''})|date('F j, Y')}}
        </p>
        {% if article.image %}
          {% embed '@cloudfour/objects/embed/embed.twig' with {
              class: 'o-embed--wide'
            } %}
            {% block content %}
              <img src="{{article.image}}" alt="">
            {% endblock %}
          {% endembed %}
        {% endif %}
        <p>
          {{article.summary}}
        </p>
        <footer>
          <p>
            <a href="{{article.author.url}}">
              {{article.author.name}}
            </a>
          </p>
          {% embed '@cloudfour/objects/embed/embed.twig' %}
            {% block content %}
              <img src="{{article.author.avatar}}" alt="">
            {% endblock %}
          {% endembed %}
        </footer>
      </article>
    {% endfor %}
    <div class="essentials">
      <h2>Essentials</h2>
      <p>Frequently-cited posts we’re particularly proud of.</p>
      <ul>
        {% for article in essentials %}
          <li>
            <a href="{{article.url}}">
              {{article.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="topics">
      <h2>Topics</h2>
      <ul>
        {% for topic in topics|slice(0,7) %}
          <li>
            <a href="#">
              {{topic.title}}
              ({{topic.count}} articles)
            </a>
          </li>
        {% endfor %}
      </ul>
      <p>
        <a href="#">
          All topics
        </a>
      </p>
    </div>
  </div>
</div>
