---
name: Project
order: 1
notes: |
  This is the combo for a project intended to be used in the "Tools &amp; Resources" section of the "Labs" page.

default:
  project:
    name: Project Name
    url: "#"
    notes: |
      A short description about the project.
    links:
      - label: Demo
        url: "#"
      - label: Article
        url: "#"
      - label: Source
        url: "#"

---
{{#with (defaultTo project default.project)}}
<div class="u-flex">
  <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart">
    <img src="{{dummyImgSrc 64 64}}" alt="">
  </div>
  <div class="u-marginLeftSm u-flex u-flexCol u-flexGrow1">
    <h3 class="u-textLarger">{{name}}</h3>
    <p class="u-md-paddingRightSm">{{{notes}}}</p>
    <ul class="u-listInline u-paddingTopXs u-flexExpandTop">
      {{#each links}}
        <li><a href="{{url}}">{{label}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
{{/with}}
