---
name: Comment Form
notes: |
  This is intended to be used on blog posts, but could also apply elsewhere.
  It has a customizable `content` block for HTML preceding the inputs.
---

<form class="u-spaceChildren {{class}}"{{#if id}} id="{{id}}"{{/if}}>
  {{#block "content"}}
    <h2>Leave a Comment</h2>
    <p>
      Please be kind, courteous and constructive. You may use simple HTML or
      <a href="https://en.support.wordpress.com/markdown-quick-reference/">Markdown</a>
      in your comments. All fields are required.
    </p>
  {{/block}}
  {{{
    embed "patterns.components.float-label.base"
    type="textarea"
    label="Message"
    inputid="commentform-message"
  }}}
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-sm-size1of2">
      {{{
        embed "patterns.components.float-label.base"
        label="Name"
        inputid="commentform-name"
      }}}
    </div>
    <div class="Grid-cell u-marginTopMd u-sm-marginTopNone u-sm-size1of2">
      {{{
        embed "patterns.components.float-label.base"
        label="Email"
        type="email"
        inputid="commentform-email"
      }}}
    </div>
    <div class="Grid-cell u-marginTopMd">
      {{#embed "patterns.components.button.base" class="Button--default u-block u-sizeFull"}}
        {{#content "content"}}
          Submit Comment
        {{/content}}
      {{/embed}}
    </div>
  </div>
</form>
