<div id="no-results">
  {% include '@cloudfour/components/sky-nav/sky-nav.twig' with {
    "class": "t-dark",
    "menu": {
      "items": [
        {
          "link": "/does",
          "title": "What We Do",
          "current": true
        },
        {
          "link": "/believes",
          "title": "Our Approach"
        },
        {
          "link": "/made",
          "title": "Our Work"
        },
        {
          "link": "/thinks",
          "title": "Articles"
        },
        {
          "link": "/presents",
          "title": "Speaking"
        },
        {
          "link": "/contributes",
          "title": "Labs"
        },
        {
          "link": "/is",
          "title": "Team"
        }
      ]
    }
  } only %}
  <div class="o-container o-container--pad">
    <div class="o-container__content">
      {% embed '@cloudfour/objects/overview/overview.twig' %}
        {% block header %}
          {% embed '@cloudfour/components/heading/heading.twig' with {
            "level": 0,
            "weight": "light"
          } only %}
            {% block content %}
              Search Results for <b>"puppies"</b>
            {% endblock %}
          {% endembed %}
        {% endblock %}
        {% block actions %}
          {% embed '@cloudfour/objects/input-group/input-group.twig' %}
            {% block content %}
              {% include '@cloudfour/components/input/input.twig' only %}
              {% embed '@cloudfour/components/button/button.twig' %}
                {% block content %}
                  {% include '@cloudfour/components/icon/icon.twig' with {
                    name: 'magnifying-glass'
                  } %}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
        {% block content %}
          <div class="u-pad-block-end-3  u-pad-block-start-3@m">
            {% include '@cloudfour/components/heading/heading.twig' with {
              "level": 1,
              "content": "Sorry, we didn’t find any results."
            } only %}
            <p class="u-pad-block-start-n2">Try searching with different keywords or check out one of our popular articles.</p>
          </div>
          {% embed '@cloudfour/objects/deck/deck.twig' with {
            class: 'o-deck--3-column@l'
          } %}
            {% block content %}
              {% for article in fallback.articles %}
                {% embed '@cloudfour/components/card/card.twig' with {
                  class: _card_class,
                  href: article.link
                } %}
                  {% block heading %}
                    {{article.title}}
                  {% endblock %}
                  {% block cover %}
                    <img src="{{article.thumbnail}}" alt="">
                  {% endblock %}
                  {% block content %}
                    <p>
                      {% if article.description|length > 140 %}
                        {{article.description|slice(0, 140)|trim}}…
                      {% else %}
                        {{article.description}}
                      {% endif %}
                    </p>
                  {% endblock %}
                  {% block footer %}
                    <div class="c-author o-media">
                      <div class="o-media__object">
                        {% include '@cloudfour/components/avatar/avatar.twig' with { src: article.avatar } only %}
                      </div>
                      <div class="o-media__content">
                        <p<a href="#">{{article.author}}</a></p>
                        <p>{{article.pubDate|date('M j, Y')}}</p>
                      </div>
                    </div>
                  {% endblock %}
                {% endembed %}
              {% endfor %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    </div>
  </div>
  {% include '@cloudfour/components/ground-nav/ground-nav.twig' with {
    "menu": {
      "items": [
        {
          "link": "/does",
          "title": "What We Do",
          "current": true
        },
        {
          "link": "/believes",
          "title": "Our Approach"
        },
        {
          "link": "/made",
          "title": "Our Work"
        },
        {
          "link": "/thinks",
          "title": "Articles"
        },
        {
          "link": "/presents",
          "title": "Speaking"
        },
        {
          "link": "/contributes",
          "title": "Labs"
        },
        {
          "link": "/is",
          "title": "Team"
        },
        {
          "link": "/portland-device-lab",
          "title": "Device Lab"
        },
        {
          "link": "https://cloudfour-patterns.netlify.app/",
          "title": "Patterns"
        },
        {
          "link": "https://www.responsivefieldday.com/",
          "title": "Responsive Field Day"
        }
      ]
    },
    "social": {
      "items": [
        {
          "link": "https://twitter.com/cloudfour",
          "title": "Follow us on Twitter",
          "icon": "brands/twitter"
        },
        {
          "link": "https://github.com/cloudfour",
          "title": "Find us on GitHub",
          "icon": "brands/github"
        },
        {
          "link": "https://www.instagram.com/cloudfourpdx/",
          "title": "Follow us on Instagram",
          "icon": "brands/instagram"
        },
        {
          "link": "https://www.linkedin.com/company/cloud-four",
          "title": "Follow us on LinkedIn",
          "icon": "brands/linkedin"
        }
      ]
    },
    "action": {
      "lead_in": "Let’s discuss your project!",
      "title": "Email us",
      "link": "mailto:info@cloudfour.com",
      "icon": "envelope"
    },
    "organization": {
      "name": "Cloud Four, Inc.",
      "address": {
        "street_address": "510 SW 3rd Ave, Suite 420",
        "address_locality": "Portland",
        "address_region": "Oregon",
        "postal_code": "97204",
        "address_country": "USA"
      },
      "email": "info@cloudfour.com",
      "telephone": "+1 (503) 290-1090",
      "url": "https://cloudfour.com/",
      "founding_date": "2007-12-13"
    }
  } only %}
</div>
