<div class="
  c-avatar
  {% if size %}c-avatar--{{size}}{% endif %}
  {% if class %}{{class}}{% endif %}">
  {% block content %}
    {%- if src -%}
      <img src="{{src}}"
        {% if srcset %}srcset="{{srcset}}"{% endif %}
        {% if sizes %}sizes="{{sizes}}"{% endif %}
        alt="{{alt|default('')|trim}}"
        loading="{{loading|default('lazy')}}">
    {%- endif -%}
  {% endblock %}
</div>
