{% set _table_class = '' %}

{% if numericData %}
  {% set _table_class = _table_class ~ ' c-table--numeric' %}
{% endif %}

{% if isRuled %}
  {% set _table_class = _table_class ~ ' c-table--ruled' %}
{% endif %}

{% if isStriped %}
  {% set _table_class = _table_class ~ ' c-table--striped' %}
{% endif %}

{% embed '@cloudfour/components/table/table.twig' with { table_class: _table_class } %}

  {% block caption %}
    {% if hasCaption %}
        Comparing popular Cloud Four projects on GitHub.
    {% endif %}
  {% endblock %}

  {% block header %}
    {% if hasHeader %}
      <tr>
        <th></th>
        <th scope="col">Stars</th>
        <th scope="col">Forks</th>
        <th scope="col">Watchers</th>
        <th scope="col">Issues</th>
      </tr>
    {% endif %}
  {% endblock %}

  {% block body %}
    {% for row in tableData %}
      <tr>
        <th scope="row">
          <a href="https://github.com/cloudfour/{{row.name}}">{{row.name}}</a>
        </th>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/stargazers">{{row.stargazers}}</a>
        </td>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/network/members">{{row.forks}}</a>
        </td>
        <td>{{row.followers}}</td>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/issues">{{row.issues}}</a>
        </td>
      </tr>
    {% endfor %}
  {% endblock %}

  {% block footer %}
    {% if hasFooter %}
      <tr>
        <th scope="row">Total:</th>
        <td>2125</td>
        <td>234</td>
        <td>2125</td>
        <td>245</td>
      </tr>
    {% endif %}
  {% endblock %}
{% endembed %}
