{% set _tableClass = '' %}

{% if numericData %}
  {% set _tableClass = _tableClass ~ ' c-table--numeric' %}
{% endif %}

{% if isRuled %}
  {% set _tableClass = _tableClass ~ ' c-table--ruled' %}
{% endif %}

{% if isStriped %}
  {% set _tableClass = _tableClass ~ ' c-table--striped' %}
{% endif %}

{% embed '../table.twig' with { tableClass: _tableClass } %}

  {% if hasHeader %}
    {% block header %}
      <tr>
        <th></th>
        <th scope="col">Stars</th>
        <th scope="col">Forks</th>
        <th scope="col">Watchers</th>
        <th scope="col">Issues</th>
      </tr>
    {% endblock %}
  {% endif %}

  {% block body %}
    {% for row in tableData %}
      <tr>
        <th scope="row">
          <a href="https://github.com/cloudfour/{{row.name}}">{{row.name}}</a>
        </th>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/stargazers">{{row.stargazers}}</a>
        </td>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/network/members">{{row.forks}}</a>
        </td>
        <td>{{row.followers}}</td>
        <td>
          <a href="https://github.com/cloudfour/{{row.name}}/issues">{{row.issues}}</a>
        </td>
      </tr>
    {% endfor %}
  {% endblock %}

  {% if hasFooter %}
    {% block footer %}
      <tr>
        <th scope="row">Total:</th>
        <td>2125</td>
        <td>234</td>
        <td>2125</td>
        <td>245</td>
      </tr>
    {% endblock %}
  {% endif %}
{% endembed %}
