{% set directions = ['ltr', 'rtl'] %}
{% set writing_modes = ['horizontal-tb', 'vertical-lr', 'vertical-rl'] %}
{% if step < 0 %}
  {% set step = 'n' ~ step|abs %}
{% endif %}

<div class="demo-u-{{name}}-logical-properties">
  {% for writing_mode in writing_modes %}
    {% for direction in directions %}
      {% set class = 'u-' ~ name ~ '-block-start-' ~ step ~ ' u-' ~ name ~ '-inline-start-' ~ step %}
      {% set style = 'direction: ' ~ direction ~ '; writing-mode: ' ~ writing_mode ~ ';' %}
      {% if name == 'pad' %}
        {# This block is not currently output, AFAICT #}
        <div class="demo-example" dir="{{direction}}">
          <div class="{{class}}" style="{{style}}">
            <div>
              {{direction}}, {{writing_mode}}
            </div>
          </div>
        </div>
      {% else %}
        <div style="{{style}}" dir="{{direction}}" class="demo-example">
          <div class="{{class}}">
            {{direction}}, {{writing_mode}}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
