<div id="article-listing">
  <div class="o-container o-container--pad">
    <div class="o-container__content">
      {% embed '@cloudfour/objects/deck/deck.twig' with {
        class: 'o-deck--3-column@l'
      } %}
        {% block content %}
          {% for article in recent.articles %}
            {% if loop.index == '1' %}
              {% set _card_class = 'c-card--horizontal@l' %}
            {% else %}
              {% set _card_class = '' %}
            {% endif %}
            {% embed '@cloudfour/components/card/card.twig' with {
              class: _card_class,
              href: article.link
            } %}
              {% block heading %}
                {{article.title}}
              {% endblock %}
              {% block cover %}
                <img src="{{article.thumbnail}}" alt="">
              {% endblock %}
              {% block content %}
                <p>
                  {% if article.description|length > 140 %}
                    {{article.description|slice(0, 140)|trim}}…
                  {% else %}
                    {{article.description}}
                  {% endif %}
                </p>
              {% endblock %}
              {% block footer %}
                <div class="c-author o-media">
                  <div class="o-media__object">
                    {% include '@cloudfour/components/avatar/avatar.twig' with { src: article.avatar } only %}
                  </div>
                  <div class="o-media__content">
                    <p<a href="#">{{article.author}}</a></p>
                    <p>{{article.pubDate|date('M j, Y')}}</p>
                  </div>
                </div>
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
      {% include '@cloudfour/components/pagination/pagination.twig' with {
        "pagination": {
          "mid_size": 2,
          "current": 1,
          "total": 36,
          "prev": {
            "title": 1,
            "text": 1,
            "name": 1,
            "current": false,
            "link": "#page-1"
          },
          "next": {
            "title": 3,
            "text": 3,
            "name": 3,
            "current": false,
            "link": "#page-3"
          },
          "pages": [
            {
              "title": 1,
              "text": 1,
              "name": 1,
              "current": false,
              "link": "#page-1"
            },
            {
              "title": 2,
              "text": 2,
              "name": 2,
              "current": true,
              "link": false
            },
            {
              "title": 3,
              "text": 3,
              "name": 3,
              "current": false,
              "link": "#page-3"
            },
            {
              "title": 4,
              "text": 4,
              "name": 4,
              "current": false,
              "link": "#page-4"
            },
            {
              "title": 5,
              "text": 5,
              "name": 5,
              "current": false,
              "link": "#page-5"
            }
          ]
        }
      } only %}
    </div>
  </div>
  {% for topic in featured.topics %}
    <div class="o-container o-container--pad">
      <div class="o-container__content">
        <div class="section">
            <div class="section-title-wrapper">
              {% include '@cloudfour/components/heading/heading.twig' with {
                level: -1,
                tag_name: 'h2',
                weight: 'light',
                content: topic.title,
              } only %}
            </div>
            {% for article in topic.articles %}
              <div class="section-card-wrapper">
                {% embed '@cloudfour/components/card/card.twig' with {
                  class: '',
                  href: article.link
                } %}
                  {% block heading %}
                    {{article.title}}
                  {% endblock %}
                  {% block cover %}
                    <img src="{{article.thumbnail}}" alt="">
                  {% endblock %}
                  {% block content %}
                    <p>
                      {% if article.description|length > 140 %}
                        {{article.description|slice(0, 140)|trim}}…
                      {% else %}
                        {{article.description}}
                      {% endif %}
                    </p>
                  {% endblock %}
                  {% block footer %}
                    <div class="c-author o-media">
                      <div class="o-media__object">
                        {% include '@cloudfour/components/avatar/avatar.twig' with { src: article.avatar } only %}
                      </div>
                      <div class="o-media__content">
                        <p<a href="#">{{article.author}}</a></p>
                        <p>{{article.pubDate|date('M j, Y')}}</p>
                      </div>
                    </div>
                  {% endblock %}
                {% endembed %}
              </div>
            {% endfor %}
            <div class="section-cta-wrapper">
              {% embed '@cloudfour/components/button/button.twig' with { class: 'c-button--secondary' } %}
                {% block content %}{{topic.cta}}{% endblock %}
                {% block content_end %}
                  {% include '@cloudfour/components/icon/icon.twig' with {
                    "name": "arrow-right"
                  } only %}
                {% endblock %}
              {% endembed %}
            </div>
          </div>
      </div>
    </div>
  {% endfor %}
  <div class="o-container o-container--pad">
    <div class="o-container__content">
      {% embed '@cloudfour/objects/overview/overview.twig' %}
        {% block header %}
          {% include '@cloudfour/components/heading/heading.twig' with {
            level: -1,
            weight: "light",
            content: 'More Topics',
          } only %}
        {% endblock %}
        {% block actions %}
          <div class="search-content">
            {% include '@cloudfour/components/input/input.twig' with {
              class: 'search-input'
            }  %}
            {% embed '@cloudfour/components/button/button.twig' with {
              class: 'search-btn'
            }  %}
              {% block content %}
                {% include '@cloudfour/components/icon/icon.twig' with {
                  name: 'magnifying-glass'
                } %}
              {% endblock %}
            {% endembed %}
          </div>
        {% endblock %}
        {% block content %}
          {% embed '@cloudfour/objects/list/list.twig' with {
            "tag_name": "ul",
            "class": "o-list--2-column@m o-list--3-column@l"
          } %}
            {% block content %}
              {% for topic in topics %}
                <li class="u-space-block-end-0">
                  {% include '@cloudfour/components/dot-leader/dot-leader.twig' with {
                    label: topic.title,
                    count: topic.count,
                    href: 'https://cloudfour.com/thinks/'
                  } only %}
                </li>
              {% endfor %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    </div>
  </div>
</div>
