{# https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Contentinfo_role #}
<footer>
  <h2>
    {{action.leadIn}}
  </h2>
  <p>
    {% embed '../button/button.twig' with {
      href: action.link,
      label: action.title
    } only %}
      {% block content %}
        {% include '../../assets/icons/envelope.svg.twig' with {
          class: 'c-icon c-icon--inline',
          focusable: 'false'
        } only %}
        {{label}}
      {% endblock %}
    {% endembed %}
  </p>

  <h2 class="u-hidden-visually">
    Contact info
  </h2>
  {# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address #}
  {% with organization %}
    <address>
      <a href="{{url}}">
        {{name}}
      </a><br>
      {% with address %}
        {{streetAddress}}<br>
        {{addressLocality}}, {{addressRegion}} {{postalCode}} {{addressCountry}}<br>
      {% endwith %}
      <a href="mailto:{{email}}">{{email}}</a><br>
      {# https://developers.google.com/web/fundamentals/native-hardware/click-to-call/ #}
      <a href="tel:{{telephone|replace({
        '.': '-',
        '(': '-',
        ')': '-',
        ' ': ''
      })}}">{{telephone}}</a>
    </address>
  {% endwith %}
  {# https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html #}
  <ul role="list">
    {% for item in social.items %}
      <li>
        <a href="{{item.link}}">
          {# https://heydonworks.com/article/aria-label-is-a-xenophobe/ #}
          <span class="u-hidden-visually">{{item.title}}</span>
          {# http://simplyaccessible.com/article/7-solutions-svgs/#acc-heading-4 #}
          {# TODO: Use '../../assets/icons/brands/' ~ item.icon ~ '.svg.twig' for icon #}
          {% include '../../assets/icons/link.svg.twig' with {
            class: 'c-icon',
            focusable: 'false'
          } only %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <nav aria-labelledby="footer-menu-label">
    <h2 id="footer-menu-label" class="u-hidden-visually">
      Extended Menu
    </h2>
    {# https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html #}
    <ul role="list">
      {% for item in menu.items %}
        <li>
          <a href="{{item.link}}"
            {% if item.current %}
              aria-current="page"
            {% endif %}>
            {{item.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if kudos %}
    <p>
      {{kudos}}
    </p>
  {% endif %}

  <p>
    {% if legal %}
      {{legal}}
    {% else %}
      © {{organization.foundingDate|date('Y')}}–{{'now'|date('Y')}} {{organization.name}}
    {% endif %}
  </p>
</footer>
