<div class="c-footnotes{% if compact %} c-footnotes__compact{% endif %}">
  <{{heading_tag|default('h2')}} class="u-hidden-visually" id="footnotes-heading{{id_suffix}}">
    {{heading_text|default('Footnotes')}}
  </{{heading_tag|default('h2')}}>

  <ol class="c-footnotes__list" aria-labelledby="footnotes-heading{{id_suffix}}">
    {% block content %}
      {% for item in items %}
        {% set _id = loop.index %}

        {% if id_suffix %}
          {% set _id = _id ~ id_suffix %}
        {% endif %}

        {% embed '@cloudfour/components/footnote-list-item/footnote-list-item.twig' with {
          count: loop.index,
          id: _id,
        } %}
          {% block content %}
            {{ item|raw }}
          {% endblock %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  </ol>
</div>
